	<!-- ====== BEGIN HEADER ====== -->
	<header id="header">

		<!-- Topbar Header Varian 1 -->
		<div class="topbar-1" *ngIf="headerData">
			<!-- Topbar Header Varian 1 for Desktop View-->
			<nav class="topbar topbar-varian-1 desktop-topbar">
				<div class="container">
					<div class="topbar-item" *ngIf="headerData.address_status">
						<span class="item-icon fi flaticon-address"></span>
						<span class="item-text" [innerHtml]="headerData.address"></span>
					</div>
					<div class="topbar-item" *ngIf="headerData.timing_status">
						<span class="item-icon fi flaticon-clock"></span>
						<p class="item-text">{{ headerData.timing }}</p>
					</div>
					<div class="topbar-item" *ngIf="headerData.contact_status">
						<span class="item-icon fi flaticon-phone"></span>
						<p class="item-text">{{ headerData.contact }}</p>
					</div>
				</div>
			</nav>

			<!-- Topbar Header Varian 1 for Mobile View-->
			<nav class="topbar topbar-varian-1 mobile-topbar">
				<div class="slider slide-topbar">
					<div>
						<div class="topbar-item" *ngIf="headerData.address_status">
							<span class="item-icon fi flaticon-address"></span>
							<p class="item-text"  [innerHtml]="headerData.address"></p>
						</div>
					</div>
					<div>
						<div class="topbar-item" *ngIf="headerData.timing_status">
							<span class="item-icon fi flaticon-clock"></span>
							<p class="item-text">{{ headerData.timing }}</p>
						</div>
					</div>
					<div>
						<div class="topbar-item" *ngIf="headerData.contact_status">
							<span class="item-icon fi flaticon-phone"></span>
							<p class="item-text">{{ headerData.contact }}</p>
						</div>
					</div>
				</div>
			</nav>
		</div>

		<!-- Topbar Header Varian 2 -->
		<div class="topbar-2">
			<nav class="topbar-varian-2 desktop-topbar">
				<div class="container">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Our Stores</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Newsletter</a></li>
					</ul>
				</div>
			</nav>
		</div>
		
		<!-- Topbar Header Varian 2 -->
		<div class="topbar-3" *ngIf="headerData">
			<!-- Topbar Header varian 3 for Desktop View-->
			<nav class="topbar topbar-varian-3 desktop-topbar">
				<div class="container">
					<div class="topbar-item" *ngIf="headerData.address_status">
						<span class="item-icon fi flaticon-address"></span>
						<p class="item-text" [innerHtml]="headerData.address"></p>
					</div>
					<div class="topbar-item" *ngIf="headerData.timing_status">
						<span class="item-icon fi flaticon-clock"></span>
						<p class="item-text">{{ headerData.timing || '-' }}</p>
					</div>
					<div class="topbar-item" *ngIf="headerData.contact_status">
						<span class="item-icon fi flaticon-phone"></span>
						<p class="item-text">{{ headerData.contact || '-' }}</p>
					</div>
					<div class="topbar-item">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</div>
				</div>
			</nav>

			<!-- Topbar Header varian 3 for Mobile View-->
			<nav class="topbar topbar-varian-3 mobile-topbar">
				<div class="slider slide-topbar">
					<div class="topbar-item">
						<span class="item-icon fi flaticon-address"></span>
						<p class="item-text">{{ headerData.address }}</p>
					</div>
					<div class="topbar-item">
						<span class="item-icon fi flaticon-clock"></span>
						<p class="item-text">{{ headerData.timing }}</p>
					</div>
					<div class="topbar-item">
						<span class="item-icon fi flaticon-phone"></span>
						<p class="item-text">{{ headerData.contact }}</p>
					</div>
				</div>
			</nav>
		</div>

		<!-- Main Menu Header -->
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Navbar Brand -->
				<div class="navbar-header">
					<a href="#/" class="navbar-brand" *ngIf="headerData"><img src="{{ headerData.headerfooter_logo || 'assets/images/header-logo-default.png'}}" alt="Baufi Media"></a>
					<button type="button" class="navbar-toggle collapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Navbar Menu -->
				<nav id="navbar" class="navbar navbar-right navbar-collapse collapse">
					<ul class="nav navbar-nav">

						<!-- Dropdown Menu -->
						<li class="dropdown" *ngFor="let menuItem of menus">
							<a href="javascript:void(0)">{{menuItem.main_menu}}</a>
							<ul class="dropdown-menu">
								<li *ngFor="let submenu of menuItem.sub_menu[0].pages">									
									<a (click)="redirectToAppPage(submenu.slug, submenu.type, menuItem.main_menu, submenu.featured_image, submenu.title)"> {{submenu.title}}</a>
								</li>
							</ul>
						</li>												
						<li class="dropdown">
							<a href="#/login" *ngIf="!isLoggedin">Login</a>
							<a href="#" *ngIf="isLoggedin">Welcome {{ username }}</a>
							<ul class="dropdown-menu" *ngIf="isLoggedin">
								<li><a href="#/my-profile">My Profile</a></li>
								<li><a href="#/add-property">Add Property</a></li>
								<li><a href="#/my-property">My Property</a></li>
								<li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
							</ul>
						</li>

						<!-- Dropdown Menu -->
						<!-- <li class="dropdown">
							<a>Other Pages</a>
							<ul class="dropdown-menu">
								<li><a href="typography.html">Typography</a></li>
								<li><a href="404.html">Error 404</a></li>
								<li><a href="countdown.html">Countdown Event</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="about.html">About Us</a></li>
							</ul>
						</li> -->						
					</ul>

					<div class="topbar-2">
						<!-- Mobile Topbar Varian 2 -->
						<div class="topbar-varian-2 mobile-topbar">
							<ul>
								<li><a href="#/">About</a></li>
								<li><a href="#/">Our Stores</a></li>
								<li><a href="#/">Blog</a></li>
								<li><a href="#/">FAQ</a></li>
								<li><a href="#/">Newsletter</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</nav>
	</header>
	<!-- ====== END HEADER ====== -->

	<app-search [hidden]="!isHidden"></app-search>
	<section class="page-header main-section"  *ngIf="!isHidden" [style.backgroundImage]="'url(' + search_img + ')'">
		<div class="container">
			<h1 class="page-header-title">{{section_title}}</h1>
			<ul class="breadcrumb">
				<li class="active">{{section_title}}</li>
			</ul>
		</div>
	</section>