	<!-- ====== BEGIN HEADER ====== -->
	<header id="header">

		<!-- Topbar Header Varian 1 -->
		<div class="topbar-1">
			<!-- Topbar Header Varian 1 for Desktop View-->
			<nav class="topbar topbar-varian-1 desktop-topbar">
				<div class="container">
					<div class="topbar-item">
						<span class="item-icon fi flaticon-address"></span>
						<p class="item-text">774 Walker County Rd #241, Mountain View, WY, 82939</p>
					</div>
					<div class="topbar-item">
						<span class="item-icon fi flaticon-clock"></span>
						<p class="item-text">Monday-Friday : 9:00 AM to 7:00 PM <br>Saturday, Sunday : Closed</p>
					</div>
					<div class="topbar-item">
						<span class="item-icon fi flaticon-phone"></span>
						<p class="item-text">(307) 786-2619 <br>hello@kensington.com</p>
					</div>
				</div>
			</nav>

			<!-- Topbar Header Varian 1 for Mobile View-->
			<nav class="topbar topbar-varian-1 mobile-topbar">
				<div class="slider slide-topbar">
					<div>
						<div class="topbar-item">
							<span class="item-icon fi flaticon-address"></span>
							<p class="item-text">774 Walker County Rd #241, Mountain View, WY, 82939</p>
						</div>
					</div>
					<div>
						<div class="topbar-item">
							<span class="item-icon fi flaticon-clock"></span>
							<p class="item-text">Monday-Friday : 9:00 AM to 7:00 PM <br>Saturday, Sunday : Closed</p>
						</div>
					</div>
					<div>
						<div class="topbar-item">
							<span class="item-icon fi flaticon-phone"></span>
							<p class="item-text">(307) 786-2619 <br>hello@kensington.com</p>
						</div>
					</div>
				</div>
			</nav>
		</div>

		<!-- Topbar Header Varian 2 -->
		<div class="topbar-2">
			<nav class="topbar-varian-2 desktop-topbar">
				<div class="container">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Our Stores</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Newsletter</a></li>
					</ul>
				</div>
			</nav>
		</div>
		
		<!-- Topbar Header Varian 2 -->
		<div class="topbar-3">
			<!-- Topbar Header varian 3 for Desktop View-->
			<nav class="topbar topbar-varian-3 desktop-topbar">
				<div class="container">
					<div class="topbar-item">
						<span class="item-icon fi flaticon-address"></span>
						<p class="item-text">774 Walker County Rd #241, Mountain View, WY, 82939</p>
					</div>
					<div class="topbar-item">
						<span class="item-icon fi flaticon-clock"></span>
						<p class="item-text">Monday-Friday : 9:00 AM to 7:00 PM <br>Saturday, Sunday : Closed</p>
					</div>
					<div class="topbar-item">
						<span class="item-icon fi flaticon-phone"></span>
						<p class="item-text">(307) 786-2619 <br>hello@kensington.com</p>
					</div>
					<div class="topbar-item">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</div>
				</div>
			</nav>

			<!-- Topbar Header varian 3 for Mobile View-->
			<nav class="topbar topbar-varian-3 mobile-topbar">
				<div class="slider slide-topbar">
					<div class="topbar-item">
						<span class="item-icon fi flaticon-address"></span>
						<p class="item-text">774 Walker County Rd #241, Mountain View, WY, 82939</p>
					</div>
					<div class="topbar-item">
						<span class="item-icon fi flaticon-clock"></span>
						<p class="item-text">Monday-Friday : 9:00 AM to 7:00 PM <br>Saturday, Sunday : Closed</p>
					</div>
					<div class="topbar-item">
						<span class="item-icon fi flaticon-phone"></span>
						<p class="item-text">(307) 786-2619 <br>hello@kensington.com</p>
					</div>
				</div>
			</nav>
		</div>

		<!-- Main Menu Header -->
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Navbar Brand -->
				<div class="navbar-header">
					<a href="./" id="navbar-brand" class="navbar-brand"><img src="assets/images/header-logo-default.png" alt="kensington Property"></a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Navbar Menu -->
				<nav id="navbar" class="navbar navbar-right navbar-collapse collapse">
					<ul class="nav navbar-nav">

						<!-- Dropdown Menu -->
						<li class="dropdown">
							<a>Privatangebote</a>
							<ul class="dropdown-menu">
								<li><a href="index-property-1.html">Wohnung mieten</a></li>
								<li><a href="index-property-2.html">Wohnung kaufen</a></li>
								<li><a href="index-property-3.html">Haus mieten</a></li>
								<li><a href="index-booking-1.html">Haus kaufen</a></li>
								<li><a href="index-booking-2.html">Gewerbeimmobilien mieten</a></li>
								<li><a href="index-booking-3.html">Gewerbeimmobilien kaufen</a></li>
								<li><a href="index-booking-3.html">Ferienhaus mieten</a></li>
							</ul>
						</li>
						
						<!-- Dropdown Menu -->
						<li class="dropdown">
							<a>Privat anbieten</a>
							<ul class="dropdown-menu">
								<li><a href="archive-property.html">Anzeige schalten</a></li>
								<li><a href="single-property.html">Wohnung vermieten</a></li>
								<li><a href="property-search-result.html">Wohnung verkaufen </a></li>
								<li><a href="property-search-result-2.html">Haus vermieten </a></li>
								<li><a href="compare.html">Haus verkaufen</a></li>
								<li><a href="new-booking.html">Gewerbeimmobilien vermieten</a></li>
								<li><a href="new-booking.html">Gewerbeimmobilien verkaufen</a></li>
								<li><a href="new-booking.html">Ferienhaus vermieten</a></li>
							</ul>
						</li>

						<!-- Dropdown Menu -->
						<li class="dropdown">
							<a>Maklerservice</a>
							<ul class="dropdown-menu">
								<li><a href="archive-agent.html">Maklerangebote vergleichen</a></li>
								<li><a href="single-agent.html">Makler beauftragen </a></li>
							</ul>
						</li>

						<!-- Dropdown Menu -->
						<li class="dropdown">
							<a>Finanzierungservice</a>
							<ul class="dropdown-menu">
								<li><a href="archive-blog.html">Über uns</a></li>
								<li><a href="single-blog.html">Das passende Konzept</a></li>
								<li><a href="single-blog.html">Baufinanzierung</a></li>
								<li><a href="single-blog.html">Kaufen | Bauen </a></li>
								<li><a href="single-blog.html">Anschlussfinanzierung</a></li>
								<li><a href="single-blog.html">Forward Darlehen | Zinssicherung</a></li>
								<li><a href="single-blog.html">KfW | Staat</a></li>
								<li><a href="single-blog.html">Modernisierung | Energetische Sanierung</a></li>
								<li><a href="single-blog.html">Finanzierungs-Manager</a></li>
								<li><a href="single-blog.html">Rückrufservice</a></li>								
							</ul>
						</li>

						<li class="dropdown">
							<a href="#/login">Login</a>
							<ul class="dropdown-menu">
								<li><a>My Property</a></li>
								<li><a>Logout</a></li>
							</ul>
						</li>

						<!-- Dropdown Menu -->
						<!-- <li class="dropdown">
							<a>Other Pages</a>
							<ul class="dropdown-menu">
								<li><a href="typography.html">Typography</a></li>
								<li><a href="404.html">Error 404</a></li>
								<li><a href="countdown.html">Countdown Event</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="about.html">About Us</a></li>
							</ul>
						</li> -->						
					</ul>

					<div class="topbar-2">
						<!-- Mobile Topbar Varian 2 -->
						<div class="topbar-varian-2 mobile-topbar">
							<ul>
								<li><a href="#">About</a></li>
								<li><a href="#">Our Stores</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Newsletter</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</nav>
	</header>
	<!-- ====== END HEADER ====== -->