.navbar.navbar-default {
	margin-bottom: 0px !important;
}
#header .topbar {
  background-color: #009245 !important;
}
#header #navbar .dropdown .dropdown-menu {
	background-color: #0071BC;	
}
#header #navbar .dropdown-menu>li {
	border-color: transparent;
}