<!-- ====== FOOTER ====== -->
	<footer id="footer">
		<div class="container">
			<div class="row footer-body">
				<!-- Footer Brand Column -->
				<div class="col-md-6 col-sm-12 footer-column">
					<a href="#" id="footer-brand" class="footer-brand"><img src="assets/images/footer-logo-default.png" alt="kensington Property"></a>
					<p>Kensington is dedicated to deliver a high level of expertise, customer service, and attention to detail to the market of accommodation booking.<br>We built the most featured WordPress theme for property. Test and convince yourself.</p>
				</div>

				<!-- Usefull Link Column -->
				<div class="col-md-6 col-sm-6 footer-column">
					<h3 class="footer-title">Usefull link</h3>
					<ul class="footer-menu">
						<li><a href="#">Über uns</a></li>
						<li><a href="#">Kontakt | Rückrufservice</a></li>
						<li><a href="#">Sitemap</a></li>
						<li><a href="#">Impressum</a></li>
						<li><a href="#">AGB | Rechtliche Hinweise</a></li>
						<li><a href="#">Verbraucherinformationen</a></li>
						<li><a href="#">Datenschutz</a></li>
					</ul>
				</div>
				<!-- Information Column -->
				<!-- <div class="col-md-2 col-sm-6 footer-column">
					<h3 class="footer-title">Information</h3>
					<ul class="footer-menu">
						<li><a href="#">About Company</a></li>
						<li><a href="#">Our Team</a></li>
						<li><a href="#">Registration</a></li>
						<li><a href="#">Payment Options</a></li>
						<li><a href="#">Informations</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div> -->				
				
			</div>
		</div>

		<!-- Copyright -->
		<div class="copyright">
			<div class="container clearfix">
				<p>Copyright &copy; 2018 - All Rights Reserved By</p>
				<a href="http://tonjoostudio.com"></a>
			</div>
		</div>
	</footer>
