<!-- ====== ABOUT PAGE HEADER ====== -->
<!-- <section class="page-header"  *ngIf="dynamicContent && hideSearchBar" [style.backgroundImage]="'url(' + search_img + ')'" style="margin-top: 10px;">
	<div class="container">
		<h1 class="page-header-title">{{dynamicContent.title}}</h1>
		<ul class="breadcrumb">			
			<li class="active">{{dynamicContent.title}}</li>
		</ul>
	</div>
</section> -->
<!-- ====== PAGE CONTENT ====== -->
<section id="page-content" class="page-section" *ngIf="dynamicContent">
	<div class="container">

		<!-- Section Title -->
		<div class="section-header" >
			<h2 class="section-title">{{dynamicContent.title}}</h2>
		</div>

		<!-- Section Content -->
		<div class="panel-box">
			<div class="row">
				<!-- <div class="col-md-4">
					<div class="content-image">
						<img src="assets/images/img_slider_default.jpg" alt="About Tonjoo Property">
					</div>
				</div> -->
				<div class="col-md-12">
					<div class="content-description" [innerHtml]="dynamicContent.content" style="padding: 20px; text-align: justify;">						
					</div>
				</div>
			</div>
		</div>

		<!-- List of various type -->
		<div class="row">
			<div class="col-md-8">
				<!-- Content -->
				<div id="content">
					<div class="row">
						<div class="property-item property-archive col-lg-12 col-md-6 col-sm-6" *ngFor="let property of variousPropertyList">
							<div class="row">
								<div class="col-lg-5">
									<a href="{{baseUri + property.property_images[0]}}" class="property-image">
										<img src="{{baseUri + property.property_images[0]}}" alt="Post list 1">
									</a>
									<a [routerLink]="['/property-detail', property._id]" class="btn-compare" title="Compare Property"><i class="fa fa-exchange"></i></a>
								</div>
								<div class="col-lg-7">
									<div class="property-content">
										<h3 class="property-title"><a [routerLink]="['/property-detail', property._id]">{{property.property_type}}</a></h3>
										<p>
											<span class="property-price">€ {{property.purchase_price}}</span>
											<span class="property-label">
												<a [routerLink]="['/property-detail', property._id]" class="property-label__type">Villa For Sale</a>
												<a [routerLink]="['/property-detail', property._id]" class="property-label__status">Available</a>
											</span>
										</p>
										<div class="property-address">
											{{property.property_location}}
										</div>
										<p class="property-description">{{property.description}}</p>
										<div class="property-footer">
											<div class="item-wide"><span class="fi flaticon-wide"></span> 530</div>
											<div class="item-room"><span class="fi flaticon-room"></span> {{property.room}}</div>
											<div class="item-bathroom"><span class="fi flaticon-bathroom"></span> {{property.bathroom}}</div>
											<div class="item-garage"><span class="fi flaticon-garage"></span> {{property.garages}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
