<!-- widget section Recent Property-->
					<div class="widget">
						<div class="panel-box">
							<!-- Panel Header / Title -->
							<div class="panel-header">
								<h3 class="panel-title">Recent Property</h3>
							</div>
							<!-- Panel Body -->
							<div class="panel-body">
								<!-- Recent Property -->
								<ul class="recent-property">
									<!-- Property List Item -->
									<li>
										<div class="property-image"><img src="assets/images/property_item_default.jpg" alt="Property One"></div>
										<div class="property-content">
											<a href="single-property.html">Best Private Villas</a>
											<span class="property-price">USD 176,969</span>
											<ul class="property-footer">
												<li class="item-wide"><span class="fi flaticon-wide"></span> 100</li>
												<li class="item-garage"><span class="fi flaticon-garage"></span> 2</li>
											</ul>
										</div>
									</li>
									<!-- Property List Item -->
									<li>
										<div class="property-image"><img src="assets/images/property_item_default.jpg" alt="Property One"></div>
										<div class="property-content">
											<a href="single-property.html">Best Private Villas</a>
											<span class="property-price">USD 176,969</span>
											<ul class="property-footer">
												<li class="item-wide"><span class="fi flaticon-wide"></span> 100</li>
												<li class="item-garage"><span class="fi flaticon-garage"></span> 2</li>
											</ul>
										</div>
									</li>
									<!-- Property List Item -->
									<li>
										<div class="property-image"><img src="assets/images/property_item_default.jpg" alt="Property One"></div>
										<div class="property-content">
											<a href="single-property.html">Best Private Villas</a>
											<span class="property-price">USD 176,969</span>
											<ul class="property-footer">
												<li class="item-wide"><span class="fi flaticon-wide"></span> 100</li>
												<li class="item-garage"><span class="fi flaticon-garage"></span> 2</li>
											</ul>
										</div>
									</li>
									<!-- Property List Item -->
									<li>
										<div class="property-image"><img src="assets/images/property_item_default.jpg" alt="Property One"></div>
										<div class="property-content">
											<a href="single-property.html">Best Private Villas</a>
											<span class="property-price">USD 176,969</span>
											<ul class="property-footer">
												<li class="item-wide"><span class="fi flaticon-wide"></span> 100</li>
												<li class="item-garage"><span class="fi flaticon-garage"></span> 2</li>
											</ul>
										</div>
									</li>
									<!-- Property List Item -->
									<li>
										<div class="property-image"><img src="assets/images/property_item_default.jpg" alt="Property One"></div>
										<div class="property-content">
											<a href="single-property.html">Best Private Villas</a>
											<span class="property-price">USD 176,969</span>
											<ul class="property-footer">
												<li class="item-wide"><span class="fi flaticon-wide"></span> 100</li>
												<li class="item-garage"><span class="fi flaticon-garage"></span> 2</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>