<section class="page-section">
	<div class="container">
		<div id="content">
			<section class="section-row">
				<form #ownerPropertyForm = "ngForm" novalidate (ngSubmit)="addProperty()">
					<div class="row">
						<div class="panel-box">
							<div class="panel-header">
								<h3 class="panel-title">Owner Information</h3>
							</div>
							<div class="panel-body">								
								<div class="row">
									<!-- <div class="col-md-6">
										<div class="form-group" *ngFor="let fields of propertyTypeForm.owner_section">
											<input type="{{ fields.type}}" name="{{fields.name}}" class="form-control" [(ngModel)]="propertyObj[fields.name]" placeholder="{{fields.placeholder}}">
										</div>
									</div> -->
									<div class="col-md-6">
										<div class="form-group">
												<input type="text" class="form-control" name="first_name" placeholder="First Name" autocomplete="off" [(ngModel)]="propertyObj.first_name" tabindex="1">
										</div>
										<div class="form-group">
												<input type="text" class="form-control" name="owner_street" placeholder="Street" autocomplete="off" [(ngModel)]="propertyObj.owner_street" tabindex="3">
										</div>
										<div class="form-group">
												<input type="text" class="form-control" name="owner_postcode" placeholder="Post Code" autocomplete="off" [(ngModel)]="propertyObj.owner_postcode" tabindex="5">
										</div>
										<div class="form-group">
												<input type="number" class="form-control" name="owner_phone_number" placeholder="Phone Number" autocomplete="off" [(ngModel)]="propertyObj.owner_phone_number" tabindex="7">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" name="last_name" placeholder="Last Name" autocomplete="off" [(ngModel)]="propertyObj.last_name" tabindex="2">
										</div>
										<div class="form-group">
												<input type="text" class="form-control" name="owner_house_no" placeholder="House No." autocomplete="off" [(ngModel)]="propertyObj.owner_house_no" tabindex="4">
										</div>
										<div class="form-group">
												<input type="text" class="form-control" name="owner_city" placeholder="City" autocomplete="off" [(ngModel)]="propertyObj.owner_city" tabindex="6">
										</div>
										<div class="form-group">
												<input type="email" class="form-control" name="email" placeholder="Email" autocomplete="off" [(ngModel)]="propertyObj.owner_email"  #email = "ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" tabindex="8">
										</div>
										<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
											<!-- <div *ngIf = "email.errors?.required">
												Email field can't be blank
											</div> -->
											<div *ngIf = "email.errors?.pattern && email.touched">
												The email id doesn't seem right, Make sure capital letters are not allowed.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>
					<div class="row">
						<div class="panel-box">
							<div class="panel-header">
								<h3 class="panel-title">Property Information</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" name="street" placeholder="Street" autocomplete="off" [(ngModel)]="propertyObj.street" tabindex="9">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" name="post_code" placeholder="Post Code" autocomplete="off" [(ngModel)]="propertyObj.post_code" (change)="getLatLng(propertyObj.post_code)" tabindex="11">
										</div>
										<div class="form-group info-field">
											<ng-select 
											[items]="floor"
											[multiple]="true"
											[closeOnSelect]="false"
											bindLabel="name"
											placeholder="Select Floor"
											name="floor"
											[(ngModel)]="propertyObj.floor"
											class="custom-ng-select"
											tabindex="13"
											style="width: 95%;">
											</ng-select>
											<img src="assets/images/tooltip.png" title="Lage der Wohnung im Gebäude" height="20px" width="20px">
										</div>
										<div class="form-group">
											<input type="number" class="form-control" name="living_space" placeholder="Living Space" required autocomplete="off" [(ngModel)]="propertyObj.living_space" tabindex="15">
										</div>
										<div class="form-group">
											<select class="form-control" required autocomplete="off" [(ngModel)]="propertyObj.bathroom" name="bathroom" tabindex="17">
												<option value="0">Select Bathroom</option>
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bathroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="form-group">
											<select class="form-control" autocomplete="off" [(ngModel)]="propertyObj.garages" name="garages" tabindex="19">
												<option value="0">Select Garages</option>
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('garages'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="form-group">
											<select class="form-control" autocomplete="off" [(ngModel)]="propertyObj.pets" name="pets" tabindex="21">
												<option value="">Pets</option>
												<option value="yes">Yes</option>
												<option value="no">No</option>
												<option value="according to the arrangement">According to the arrangement</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control" name="house_no" placeholder="House No." autocomplete="off" [(ngModel)]="propertyObj.house_no" tabindex="10">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" name="city" placeholder="City" autocomplete="off" [(ngModel)]="propertyObj.city" tabindex="12">
										</div>
										<div class="form-group info-field">
											<select class="form-control" autocomplete="off" [(ngModel)]="propertyObj.floor_type" name="floor" tabindex="14">
												<option value="">Selet Floor Type</option>
												<option value="{{ floors }}" *ngFor="let floors of getValues('floor_type')">{{ floors }}</option>
											</select>
											<img src="assets/images/tooltip.png" title="Geschosswohnung	Wohnung liegt auf einer Etage im Gebäude" height="20px" width="20px">
										</div>
										<div class="form-group">
											<select class="form-control" name="room" autocomplete="off" [(ngModel)]="propertyObj.room" tabindex="16">
												<option value="0"> Select Rooms </option>
												<option value="{{ i + 1 }}" *ngFor="let room_no of getValues('room'); let i = index;"> {{ i + 1 }} </option>
											</select>									
										</div>
										<div class="form-group info-field">
											<ng-select 
											[items]="domestice_equipements"
											[multiple]="true"
											[closeOnSelect]="false"
											bindLabel="name"
											placeholder="Select Domestice Equipements"
											name="domestice_equipements"
											[(ngModel)]="propertyObj.domestice_equipements"
											class="custom-ng-select" style="width: 95%;" tabindex="18">
											</ng-select>
											<img src="assets/images/tooltip.png" title="Ausstattung sehr gehoben, nicht Marktüblich aus den Baujahren 2010 - 2018" height="20px" width="20px">
										</div>
										<div class="form-group">
											<select class="form-control" autocomplete="off" [(ngModel)]="propertyObj.parking" name="parking" tabindex="20">
												<option value="0">Select Parking Space</option>
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('garages'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="form-group">											
											<label class="form-control">
												<input type="radio" name="has_cellar" [value]="true" [(ngModel)]="propertyObj.has_cellar"> Yes
												<input type="radio" name="has_cellar" [value]="false" [(ngModel)]="propertyObj.has_cellar"> NO
												<select *ngIf="propertyObj.has_cellar" class="custom-conditional-select-box" autocomplete="off" name="cellar" [(ngModel)]="propertyObj.cellar" tabindex="22">
													<option value="">Select Cellar</option>
													<option value="{{ item }}" *ngFor="let item of getValues('basementCellar'); let i = index;"> {{ item }} </option>
												</select>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel-box">
							<div class="panel-header">
								<h3 class="panel-title">Vacant Information</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-control">
												Vacant From
												<input type="date"  name="vacant_from" required autocomplete="off" [(ngModel)]="propertyObj.vacant_from" tabindex="31">
											</label>											
										</div>
										<div class="form-group">
											<input type="number" name="deposite" class="form-control" placeholder="Deposite" [(ngModel)]="propertyObj.deposite" tabindex="33">
										</div>
										<div class="form-group">
											<input type="number" class="form-control" placeholder="Heating Costs" name="heating_costs" [(ngModel)]="propertyObj.heating_costs" tabindex="35">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input type="number" name="rent_price" class="form-control" placeholder="Monthly Rent" [(ngModel)]="propertyObj.rent_price" tabindex="32">
										</div>
										<div class="form-group">
											<input type="number" name="additional_costs" class="form-control" placeholder="Additional Costs" [(ngModel)]="propertyObj.additional_costs" tabindex="34">
										</div>
										<div class="form-group">											
											<div *ngFor="let divs of otherCostsContainer; let i = index;" class="other-costs">
												<label>Other Costs</label>
												<input id="other_costs_key{{i}}" type="text" name="other_costs_key{{i}}" placeholder="Costs Name" [(ngModel)]="otherCosts['key_' + i]" tabindex="36">
												<input type="text" id="other_costs_value{{i}}" placeholder="Costs Value" name="other_costs_value{{i}}" [(ngModel)]="otherCosts['value_' + i]" tabindex="37">
												<i class="fa fa-plus" (click)="addOtherCostsContainer()"></i>
												<i class="fa fa-minus" (click)="removeOtherCostsContainer(i)" [style.color]="i == 0 ? '#fff' : '#000'"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="panel-box">
							<div class="panel-header">
								<h3 class="panel-title">Building Information</h3>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="number" name="building_substance" class="form-control" placeholder="Building Substance" [(ngModel)]="propertyObj.building_substance" tabindex="38">
										</div>
										<div class="form-group info-field">
											<select class="form-control" name="rent_apartment_heating" [(ngModel)]="propertyObj.rent_apartment_heating" tabindex="40">
												<option value="">Select Heating Type</option>
												<option value="{{ heating_type }}" *ngFor="let heating_type of getValues('heating_type')">{{ heating_type }}
												</option>
											</select>
											<img src="assets/images/tooltip.png" title="Geschosswohnung	Wohnung liegt auf einer Etage im Gebäude" height="20px" width="20px">
										</div>
										<div class="form-group">
										<textarea class="form-control" name="object_description" placeholder="Object Description" [(ngModel)]="propertyObj.object_description" rows="5" tabindex="42"></textarea>											
										</div>
										
									</div>
									<div class="col-md-6">
										<div class="form-group info-field">										
											<select class="form-control" autocomplete="off" [(ngModel)]="propertyObj.object_condition" name="object_condition" tabindex="39">
												<option value="">Selet Object Condition</option>
												<option value="{{ object_condition }}" *ngFor="let object_condition of getValues('object_condition')">{{ object_condition }}</option>
											</select>
											<img src="assets/images/tooltip.png" title="das gesamte Haus wird mit einer Heizungsanlage versorgt" height="20px" width="20px">
										</div>
										<div class="form-group">
											<select class="form-control" name="essential_energy_sources" [(ngModel)]="propertyObj.essential_energy_source" tabindex="41">
												<option value="">Essential Energy Sources</option>
												<option value="{{ items }}" *ngFor="let items of getValues('essential_energy_sources')">{{ items }}
												</option>
											</select>
										</div>
										<div class="form-group">
											<textarea class="form-control" name="equipements_feature" placeholder="Equipements Feature" [(ngModel)]="propertyObj.equipements_feature" rows="5" tabindex="43"></textarea>											
										</div>										
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control location-input" placeholder="Address/Location" name="property_location" Googleplace [(ngModel)]="propertyObj.property_location" (setAddress)="getAddressOnChange($event)" required tabindex="44" />
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label class="form-control" style="height: 60px;">
												Upload pictures from inside the apartment
												<input type="file" (change)="propertyImageLimit($event, property_image)" #property_image name="property_image" multiple="true" accept=".jpg, .png" required tabindex="45">
											</label>
											<div class="row" *ngIf="propertyImagePreview" style="margin: 0; display: flex; flex-wrap: wrap;">
												<div class="col" *ngFor="let images of propertyImagePreview">
													<img [src]="images" width="80px;" height="80px;">
												</div>													
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label class="form-control" style="height: 60px;">
												Upload pictures from outside the apartment
												<input type="file" (change)="floorPlansImageLimit($event, floor_plans)" #floor_plans name="floor_plans" multiple="true" accept=".jpg, .png" tabindex="46">	
											</label>
											<div class="row" *ngIf="floorPlansImagePreview" style="margin: 0; display: flex; flex-wrap: wrap;">
												<div class="col" *ngFor="let images of floorPlansImagePreview">
													<img [src]="images"  width="80px;" height="80px;">	
												</div>													
											</div>												
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label class="form-control" style="height: 60px;">
												Upload Additional Certificates
												<input type="file" name="add_certificate" (change)="additionalCertificateChange($event, additional_certy)" #additional_certy multiple tabindex="47">
											</label>											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<input type="submit" class="btn-submit btn-primary btn pull-right" [disabled]="!ownerPropertyForm.form.valid" value="Add" tabindex="48">
						</div>
					</div>

				</form>
			</section>
		</div>
	</div>
</section>