<!-- ====== PROPERTY ARCHIVE PAGE HEADER ====== -->
<!-- <section class="page-header main-section" style="background-image: url(assets/images/bg_page_header_1.jpg)">
	<div class="container">
		<h1 class="page-header-title">Edit Property</h1>
	</div>
</section> -->
<app-search></app-search>
<section class="page-section">
	<div class="container">
		<div id="content">
			<section class="section-row" *ngIf="propertyDataObj">
				<form #editPropertyForm = "ngForm" novalidate (ngSubmit)="editProperty(editPropertyForm)">
					<div class="row">
						<div class="panel-box">
							<div class="panel-header">
								<h3 class="panel-title">Cellar</h3>
							</div>
							<div class="panel-body">								
								<div class="row">
									<div class="col-md-6">										
										<div class="form-group">										
											<select class="form-control" required autocomplete="off"  [(ngModel)]="propertyDataObj.property_type" name="property_type">
												<option value="">Selet Property Type</option>
												<option value="{{item}}" *ngFor="let item of getValues('property_type')">{{ item }}</option>
											</select>									
										</div>
										<div class="form-group">
											<label class="form-control">
												<input type="radio" name="storeyType" [value]="true" [(ngModel)]="storeyType"> With Basement
												<input type="radio" name="storeyType" [value]="false" [(ngModel)]="storeyType"> Without Basement
												<select *ngIf="!storeyType" class="custom-conditional-select-box" required autocomplete="off" name="storey" [(ngModel)]="propertyDataObj.storey">		
													<option value="0">Select Storey</option>
													<option value="{{i + 1}}" *ngFor="let num of getValues('without_basement_storey'); let i = index;"> {{ i  + 1 }} </option>
												</select>
											</label>											
										</div>
										<div class="form-group">
											<input type="number" class="form-control" name="living_space" placeholder="Living Space" required autocomplete="off" [(ngModel)]="propertyDataObj.living_space">
										</div>
										<div class="form-group">
											<input type="number" class="form-control" name="useable_area" placeholder="Usable Area" required autocomplete="off" [(ngModel)]="propertyDataObj.useable_area">
										</div>
										<div class="form-group">
											<select class="form-control" autocomplete="off" [(ngModel)]="propertyDataObj.garages" name="garages">
												<option value="0">Select Garages</option>
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('garages'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="form-group">
											<select class="form-control" [(ngModel)]="propertyDataObj.plots" name="plots">
												<option value="0">Select Plots</option>
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('plot'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="form-group">										
											<select class="form-control" autocomplete="off"  [(ngModel)]="propertyDataObj.residential_and_commercial" name="residential_and_commercial">
												<option value="0" selected="">Select Residential and Commercial</option>
												<option value="{{property_item}}" *ngFor="let property_item of getValues('residential_and_commercial')">{{ property_item }}</option>
											</select>									
										</div>										
									</div>
									<div class="col-md-6">
										<div class="form-group">										
											<select class="form-control" autocomplete="off"  [(ngModel)]="propertyDataObj.undeveloped_property" name="undeveloped_property">
												<option value="0">Select Undeveloped Property</option>
												<option value="{{property_item}}" *ngFor="let property_item of getValues('undeveloped_property')">{{ property_item }}</option>
											</select>									
										</div>
										<div class="form-group">
											<label class="form-control">
												Vaccant From
												<input type="date"  name="vacant_from" required autocomplete="off" [(ngModel)]="propertyDataObj.vacant_from">
											</label>											
										</div>										
										<div class="form-group">
											<select class="form-control" name="room" autocomplete="off" [(ngModel)]="propertyDataObj.room">
												<option value="0">Select Rooms</option>
												<option value="{{i + 1}}" *ngFor="let room_no of getValues('room'); let i = index;">{{i + 1}}</option>
											</select>									
										</div>
										<div class="form-group">
											<select class="form-control" required autocomplete="off" [(ngModel)]="propertyDataObj.bathroom" name="bathroom">
												<option value="0">Select Bathroom</option>
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bathroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="form-group">
											<select class="form-control" required autocomplete="off" [(ngModel)]="propertyDataObj.bedroom" name="bedroom">
												<option value="0">Select Bedroom</option>
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bedroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="form-group">
											<select class="form-control" [(ngModel)]="propertyDataObj.kitchens" name="kitchens">
												<option value="0">Select Kitchens</option>
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('kitchens'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>																			
									</div>									
								</div>								
							</div>
						</div>
					</div>

					<div class="row">
						<div class="panel-box">
							<div class="panel-header">
								<h3 class="panel-title">Buildings & Energy Pass</h3>
							</div>
							<div class="panel-body">								
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">										
												<input type="text" name="construction_year" class="form-control" placeholder="Construnction Year" autocomplete="off" [(ngModel)]="propertyDataObj.construction_year">
										</div>																					
										<div class="form-group">
											<select class="form-control" autocomplete="off" [(ngModel)]="propertyDataObj.repair" name="repair">
												<option value="">Select Repair type</option>
												<option value="{{item}}" *ngFor="let item of getValues('repair')"> {{ item }} </option>
											</select>
										</div>
										<!-- <div class="form-group">
											<label class="form-control" style="height: 60px;">
												Energy Certificate
												<input type="file" name="energy_certificate" (change)="energyCertificateChange($event)" [(ngModel)]="propertyDataObj.energy_certificate">
											</label>
										</div> -->
										<div class="form-group">											
											<label class="form-control">
												<input type="radio" name="has_basement" [value]="true" [(ngModel)]="propertyDataObj.has_basement"> Yes
												<input type="radio" name="has_basement" [value]="false" [(ngModel)]="propertyDataObj.has_basement"> NO
												<select *ngIf="propertyDataObj.has_basement" class="custom-conditional-select-box" autocomplete="off" name="basement" [(ngModel)]="propertyDataObj.basement">
													<option value="">Select Basement</option>
													<option value="{{ item }}" *ngFor="let item of getValues('basementCellar'); let i = index;"> {{ item }} </option>
												</select>
											</label>
										</div>
										<div class="form-group">											
											<label class="form-control">
												<input type="radio" name="has_cellar" [value]="true" [(ngModel)]="propertyDataObj.has_cellar"> Yes
												<input type="radio" name="has_cellar" [value]="false" [(ngModel)]="propertyDataObj.has_cellar"> NO
												<select *ngIf="propertyDataObj.has_cellar" class="custom-conditional-select-box" autocomplete="off" name="cellar" [(ngModel)]="propertyDataObj.cellar">
													<option value="">Select Cellar</option>
													<option value="{{ item }}" *ngFor="let item of getValues('basementCellar'); let i = index;"> {{ item }} </option>
												</select>
											</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<select class="form-control" autocomplete="off" [(ngModel)]="propertyDataObj.heating" name="heating">
												<option value="0">Select Heating</option>
												<option value="item" *ngFor="let item of getValues('heating')"> {{ item }} </option>
											</select>
										</div>
										<div class="form-group">
											<select class="form-control" autocomplete="off" [(ngModel)]="propertyDataObj.essential_energy_src" name="essential_energy_src">
												<option value="">Select Essential Energy Sources</option>
												<option value="{{item}}" *ngFor="let item of getValues('essential_energy_source')"> {{ item }} </option>
											</select>
										</div>
										<!-- <div class="form-group">
											<label class="form-control" style="height: 60px;">
												Additional Certificate
												<input type="file" name="add_certificate" (change)="additionalCertificateChange($event)" [(ngModel)]="propertyDataObj.additonal_certificate">
											</label>											
										</div> -->
										<div class="form-group">											
											<label class="form-control">
												<input type="radio" name="has_attic" [value]="true" [(ngModel)]="propertyDataObj.has_attic"> Yes
												<input type="radio" name="has_attic" [value]="false" [(ngModel)]="propertyDataObj.has_attic"> NO
												<select *ngIf="propertyDataObj.has_attic" class="custom-conditional-select-box" autocomplete="off" name="attic" [(ngModel)]="propertyDataObj.attic">
													<option value="">Select Attic </option>
													<option value="{{ item }}" *ngFor="let item of getValues('attic'); let i = index;"> {{ item }} </option>
												</select>
											</label>
										</div>										
									</div>									
								</div>								
							</div>
						</div>
					</div>

					<div class="row">
						<div class="panel-box">
							<div class="panel-header">
								<h3 class="panel-title">Costs</h3>
							</div>
							<div class="panel-body">								
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="number" class="form-control" name="purchase_price" placeholder="Purchase Price" tabindex="1" [(ngModel)]="propertyDataObj.purchase_price" required autocomplete="off">
										</div>
										<div class="form-group">
											<select class="form-control" name="land_transfer_by_state" [(ngModel)]="propertyDataObj.land_transfer_by_state">
												<option value="0" selected>Land Transfer tax by rate</option>
												<option value="{{item.state_name}}" *ngFor="let item of getValues('land_tras_tax_by_state')">{{item.state_name + '(' + item.tax + ')'}}</option>
											</select>									
										</div>
										<div class="form-group">
											<input type="number" name="brokerage_costs" class="form-control" placeholder="Brokerage Costs" autocomplete="off" [(ngModel)]="propertyDataObj.brokerage_costs">
										</div>											
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<input type="number" name="estimated_rate" class="form-control" placeholder="Estimated Rate" autocomplete="off" [(ngModel)]="propertyDataObj.estimated_rate">
										</div>
										<div class="form-group">
											<input type="number" name="notary_fee" class="form-control" placeholder="Notary Fee" autocomplete="off" [(ngModel)]="propertyDataObj.notary_fee">
										</div>

									</div>									
								</div>								
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="panel-box">
								<div class="panel-header">
									<h3 class="panel-title">Property Details</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" class="form-control" name="name" placeholder="Property Name" required autocomplete="off" [(ngModel)]="propertyDataObj.name">
											</div>	
											<!-- <div class="form-group">
												<label class="form-control" style="height: 60px;">
													Upload Property Image
													<input type="file" (change)="propertyImageLimit($event, property_image)" #property_image name="property_image" [(ngModel)]="propertyDataObj.property_image" multiple="true" accept=".jpg, .png">
												</label>
												<div class="row" *ngIf="propertyImagePreview" style="margin: 0; display: flex; flex-wrap: wrap;">
													<div class="col" *ngFor="let images of propertyImagePreview">
														<img [src]="images" width="80px;" height="80px;">
													</div>													
												</div>
											</div> -->
											<div class="form-group">
												<input type="text" class="form-control" placeholder="Address/Location" name="property_location" [(ngModel)]="propertyDataObj.property_location" #LocationCtrl="ngModel" Googleplace (setAddress)="getAddressOnChange($event,LocationCtrl)" required>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<textarea required autocomplete="off" placeholder="Property Description" class="form-control" [(ngModel)]="propertyDataObj.description" name="description"></textarea>
											</div>
											<!-- <div class="form-group">
												<label class="form-control" style="height: 60px;">
													Upload Floor plans
													<input type="file" (change)="floorPlansImageLimit($event, floor_plans)" #floor_plans name="floor_plans" [(ngModel)]="propertyDataObj.floor_plans" multiple="true" accept=".jpg, .png">	
												</label>
												<div class="row" *ngIf="floorPlansImagePreview" style="margin: 0; display: flex; flex-wrap: wrap;">
													<div class="col" *ngFor="let images of floorPlansImagePreview">
														<img [src]="images"  width="80px;" height="80px;">	
													</div>													
												</div>												
											</div> -->
											<div class="form-group">
												<input type="number" class="form-control" name="property" min="0" max="10" placeholder="Property" required autocomplete="off" [(ngModel)]="propertyDataObj.property" required>
											</div>
											<div class="form-group">
												<input type="text" class="form-control" name="post_code" placeholder="Post Code" required autocomplete="off" [(ngModel)]="propertyDataObj.post_code" required>
											</div>
										</div>									
									</div>								
								</div>
							</div>
						</div>

					<div class="row">
						<div class="col-md-12">
							<input type="submit" class="btn-submit btn-primary btn pull-right" [disabled]="!editPropertyForm.form.valid" value="Edit">
						</div>
					</div>

				</form>
			</section>
		</div>
	</div>
</section>