<!-- ====== PROPERTY ARCHIVE PAGE HEADER ====== -->
<section class="page-header main-section" style="background-image: url(assets/images/bg_page_header_1.jpg)">
	<div class="container">
		<h1 class="page-header-title">My Properties</h1>
		<ul class="breadcrumb">
			<li><a href="#/">Home</a></li>
			<li class="active">Properties</li>
		</ul>
	</div>
</section>

<!-- ====== PROPERTY LIST CONTENT ====== -->
<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- Content -->
				<div id="content">
					<div class="row">
						<div class="property-item property-archive col-lg-12 col-md-6 col-sm-6" *ngFor="let property of myPropertyList">
							<div class="row">
								<div class="col-lg-5">
									<a [routerLink]="['/edit-property', property._id]" class="property-image">
										<img src="{{baseUri + property.property_images[0]}}" alt="Post list 1">
									</a>
									<a [routerLink]="['/edit-property', property._id]" class="btn-compare" title="Compare Property"><i class="fa fa-exchange"></i></a>
								</div>
								<div class="col-lg-7">
									<div class="property-content">
										<h3 class="property-title"><a href="#/edit-property">{{property.property_type}}</a></h3>
										<p>
											<span class="property-price">$ {{property.purchase_price}}</span>
											<span class="property-label">
												<a [routerLink]="['/edit-property', property._id]" class="property-label__type">Villa For Sale</a>
												<a [routerLink]="['/edit-property', property._id]" class="property-label__status">Available</a>
											</span>
										</p>
										<div class="property-address">
											{{property.property_location}}
										</div>
										<p class="property-description">{{property.description}}</p>
										<div class="property-footer">
											<div class="item-wide"><span class="fi flaticon-wide"></span> {{property.useable_area}}</div>
											<div class="item-room"><span class="fi flaticon-room"></span> {{property.room}}</div>
											<div class="item-bathroom"><span class="fi flaticon-bathroom"></span> {{property.bathroom}}</div>
											<div class="item-garage"><span class="fi flaticon-garage"></span> {{property.garages}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>

					<!-- Property List Pagination -->
					<div class="pagination">
						<a href="#" class="prev"></a>
						<span class="current">1</span>
						<a href="javascript:void(0)" class="page" (click)="fetchMyProperty()">2</a>
						<a href="#" class="page">3</a>
						<a href="#" class="page">4</a>
						<a href="#" class="page">5</a>
						<a href="#" class="next"></a>
					</div>
				</div>
			</div>
			<div class="col-md-4">

				<!-- Sidebar -->
				<div id="sidebar">
					<app-search></app-search>					
				</div>
			</div>
		</div>
	</div>
</section>
