<!-- ====== SINGLE PROPERTY PAGE HEADER ====== -->
<!-- <section class="page-header main-section" style="background-image: url(assets/images/bg_page_header_1.jpg)">
	<div class="container">
		<h1 class="page-header-title">Detail of property</h1>
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active">Property Detail</li>
		</ul>
	</div>
</section> -->
<app-search></app-search>
<!-- ====== SINGLE PROPERTY CONTENT ====== -->
<section class="page-section" *ngIf="propertyDetails">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- Content -->
				<div id="content">
					<!-- Property Single Detail / Description -->
					<article class="post property-item">
						<div class="post-property-header">
							<div class="row">
								<div class="col-md-8 col-sm-8">
									<h3 class="post-title"><a href="#">{{propertyDetails.property_type}}</a></h3>
								</div>
								<div class="col-md-4 col-sm-4 text-right">
									<span class="property-price">USD {{propertyDetails.purchase_price}} </span>
								</div>
							</div>
							<div class="property-address">
								{{propertyDetails.property_location}}
							</div>
							<div class="property-label">
								<a href="javascript:void(0);" class="property-label__type">Villa For Sale</a>
								<a href="javascript:void(0);" class="property-label__status">Available</a>
							</div>
						</div>
						
						<!-- Property Gallery Slider -->
						<div class="property-image">
							<div id="property-slider" class="property-slider">
								<!-- <img src="{{baseUri + images}}" *ngFor="let images of propertyDetails.property_images" alt="property image"> -->
								<img src="{{baseUri + propertyDetails.property_images[activeImage]}}" alt="property image">
							</div>
							<!-- Property Gallery Slider Navigation -->							
								<!-- <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)" style="background: #000;">
									<div class="slide" ngxSlickItem *ngFor="let images of propertyDetails.property_images; let i = index;" (click)="changeImage(i)" style="cursor: pointer;">
										<img src="{{baseUri + images}}"  alt="property image">
									</div>
								</ngx-slick> -->
								<div id="property-slider-nav" class="property-slider-nav">
									<img src="{{baseUri + images}}"  alt="property image" *ngFor="let images of propertyDetails.property_images; let i = index;" (click)="changeImage(i)">
 								</div>
						</div>
						<!-- Property facility Detail -->
						<div class="property-footer">
							<div class="item-wide"><span class="icon-text">Wohnfläche</span> 223 m2</div>
							<div class="item-room"><span class="icon-text">Zimmer</span> {{propertyDetails.room}} </div>
							<div class="item-bathroom"><span class="icon-text">Bathroom</span> {{propertyDetails.bathroom}}</div>
							<div class="item-garage"><span class="icon-text">Garage</span> {{propertyDetails.garages}}</div>
							<div class="item-comment"><span class="fa fa-comments-o"></span> No Comments</div>
						</div>
						<p>{{propertyDetails.description}}</p>
						<!-- The Space Section -->
						<hr>
						<div class="row">
							<div class="col-md-12">
								<h3 class="heading-title">Costs</h3>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12">								
								<table class="detail-table" style="width: 100%">
									<tr>
										<td>Purchase price</td>
										<td>$ {{propertyDetails.purchase_price}}</td>
										<td>Estimated Rate</td>
										<td>$ {{propertyDetails.estimated_rate}}</td>
									</tr>
									<tr>
										<td>Notary Fee</td>
										<td>$ {{propertyDetails.notary_fee}}</td>
										<td>Brokerage Costs</td>
										<td>$ {{ propertyDetails.brokerage_cost }}</td>
									</tr>
									<tr>
										<td>Land Transfer Tax by rate</td>
										<td>{{propertyDetails.land_rate || '-'}}</td>
									</tr>
								</table>
							</div>							
						</div>
						<!-- Facilities Section -->
						<hr>
						<div class="row">
							<div class="col-md-12">
								<h3 class="heading-title">Building and Energy Pass</h3>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12">
								<table class="detail-table" style="width: 100%">
									<tr>
										<td>Construction Year</td>
										<td>{{propertyDetails.construction_year}}</td>
										<td>Heating</td>
										<td>{{propertyDetails.heating}}</td>
									</tr>
									<tr>
										<td>Repair</td>
										<td>{{propertyDetails.repair}}</td>
										<td>Essential Enery Source</td>
										<td>{{propertyDetails.essential_enery_source || '-'}}</td>
									</tr>
									<tr>
										<td>Basement</td>
										<td>{{propertyDetails.basement}}</td>
										<td>Attic</td>
										<td>{{propertyDetails.attic}}</td>
									</tr>
									<tr>
										<td>Cellar</td>
										<td>{{propertyDetails.cellar}}</td>										
									</tr>
								</table>
							</div>
						</div>

						<hr>
						<div class="row">
							<div class="col-md-12">
								<h3 class="heading-title">Property Details</h3>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12">
								<table class="detail-table" style="width: 100%">
									<tr>
										<td>Property Type</td>
										<td>{{propertyDetails.property_type}}</td>
										<td>Undeveloped Property</td>
										<td>{{propertyDetails.undeveloped_property}}</td>
									</tr>
									<tr>
										<td>Storey</td>
										<td>{{propertyDetails.storey}}</td>
										<td>Vaccant From</td>
										<td>{{propertyDetails.vacant_from}}</td>
									</tr>
									<tr>
										<td>Living Space</td>
										<td>{{propertyDetails.living_space}}</td>
										<td>Rooms</td>
										<td>{{propertyDetails.room}}</td>
									</tr>
									<tr>
										<td>Usable Area</td>
										<td>{{propertyDetails.useable_area}}</td>
										<td>Bath Room</td>
										<td>{{propertyDetails.bathroom}}</td>										
									</tr>
									<tr>
										<td>Garages</td>
										<td>{{propertyDetails.garages}}</td>
										<td>Bedroom</td>
										<td>{{propertyDetails.bedroom}}</td>										
									</tr>
									<tr>
										<td>Plots</td>
										<td>{{propertyDetails.plots}}</td>
										<td>Kitchens</td>
										<td>{{propertyDetails.kitchens}}</td>										
									</tr>
									<tr>
										<td>Residential and Commercial</td>
										<td>{{propertyDetails.residential_and_commercial}}</td>																				
									</tr>
								</table>
								<hr />
								<div class="col-md-8">
									<div class="custom-graph">
										<div class="property-price-div" [ngStyle]="{'width': propertyPriceWidth }"></div>
										<div class="notary-fee-div" [ngStyle]="{'width': notaryFeeWidht }"></div>
										<div class="brokerage-costs-div" [ngStyle]="{'width': brokerageCostsWidth }"></div>
									</div>
									<ul class="custom-graph-indicators">
										<li id="property-price-div">
											Property Price<br>
											$ {{ propertyDetails.purchase_price }}
										</li>
										<li id="notary-fee-div">
											Notary fee<br>
											$ {{ propertyDetails.notary_fee }}
										</li>
										<li id="brokerage-costs-div">
											Brokerage Costs<br>
											$ {{ propertyDetails.brokerage_cost }}
										</li>
									</ul>
									<div>									
									Total Property Price $ {{ propertyDetails.purchase_price  + propertyDetails.notary_fee + propertyDetails.brokerage_cost }}
									</div>
								</div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-md-3">
								<span style="font-size: 29px;">$ {{ propertyDetails.purchase_price }}</span>
								purchage price
							</div>
							<div class="col-md-4" style="margin-top: 10px;">
								<popover-content #myPopover
							                	placement="bottom"
							                	[animation]="true" 
							                	[closeOnClickOutside]="true" >
							                	purchase price $ {{ propertyDetails.purchase_price }}
							                	<hr >
							                	<p>+ Kaufnebenkosten(10%) ${{ (propertyDetails.purchase_price * 10) / 100 }}</p>
							                	<p>- Eigenkapital(20%) ${{ (propertyDetails.purchase_price * 20) / 100 }}</p>
							                	= Nettodarlehen ${{ (propertyDetails.purchase_price + ((propertyDetails.purchase_price * 10) / 100)) -  ((propertyDetails.purchase_price * 20) / 100) }} 
							                	<hr />
							    </popover-content>
							<div [popover]="myPopover" class="emi-popover" style="border: 1px solid #e0e0e0; border-radius: 2px; padding: 10px;">
								<span>Estimated monthly</span>
								<span> $ </span>
							</div>
							</div>
							<div class="col-md-3">
								<span style="font-size: 29px;">{{ propertyDetails.living_space }} m<sup>2</sup></span> <br >
								Living space.
							</div>
						</div>
					</article>											

					<!-- Files Attachment -->
					<div class="property-file widget panel-box">
						<div class="panel-header">
							<h3 class="panel-title">File Attachments</h3>
						</div>
						<div class="panel-body">
							<ul class="property-attachment">
								<li *ngFor="let additional_files of propertyDetails.additional_certificates; let i = index;">
									<a href="#" class="attachment-icon"><i class="fa fa-file-pdf-o"></i></a>
									<div class="attachment-text">
										<span class="text-title">Property Paper {{ i + 1 }}</span>
										<a target="_blank" href="{{baseUri + additional_files}}" class="download-link">Download</a>
									</div>
								</li>
								<!-- <li>
									<a href="#" class="attachment-icon"><i class="fa fa-file-word-o"></i></a>
									<div class="attachment-text">
										<span class="text-title">Property Documents</span>
										<a href="" class="download-link">Download</a>
									</div>
								</li>
								<li>
									<a href="#" class="attachment-icon"><i class="fa fa-file-excel-o"></i></a>
									<div class="attachment-text">
										<span class="text-title">Property Pricing</span>
										<a href="" class="download-link">Download</a>
									</div>
								</li>
								<li>
									<a href="#" class="attachment-icon"><i class="fa fa-file-archive-o"></i></a>
									<div class="attachment-text">
										<span class="text-title">Property Archive</span>
										<a href="" class="download-link">Download</a>
									</div>
								</li>
								<li>
									<a href="#" class="attachment-icon"><i class="fa fa-file-o"></i></a>
									<div class="attachment-text">
										<span class="text-title">Property File</span>
										<a href="" class="download-link">Download</a>
									</div>
								</li> -->
							</ul>
						</div>
					</div>
					<!-- <section class="section-row">
						<div class="panel-box">
							<div class="panel-header">
								<h3 class="panel-title">Property Location</h3>
							</div>
							<div class="panel-body">
								<div id="map"></div>
							</div>
						</div>
					</section> -->
					<div id="map" style="width: 100%; height: 350px;"></div>
				</div>
			</div>
			<div class="col-md-4">

				<!-- Sidebar -->
				<div id="sidebar">
					
					<!-- widget section Contact Our Agent -->
					<div class="widget">
						<!-- Panel Box -->
						<div class="panel-box">
							<!-- Panel Header / Title -->
							<div class="panel-header">
								<h3 class="panel-title">Contact Our Agent</h3>
							</div>
							<!-- Panel Body -->
							<div class="panel-body">
								<div class="profile-box">
									<div class="profile-header">
										<div class="profile-img">
											<img *ngIf="!propertyDetails.user_id" src="assets/images/img_author_default.jpg" alt="John Doe">
											<img *ngIf="propertyDetails.user_id" src="{{ propertyDetails.user_id.logo }}" alt="{{ propertyDetails.user_id.full_name }}">
										</div>
										<h5 class="profile-title"> {{ propertyDetails.user_id.full_name || 'John Deo'}} </h5>
									</div>
									<ul class="profile-contact">
										<li><i class="fa fa-envelope"></i> <a href="javascript:void(0)">{{ propertyDetails.user_id.email || 'john@gmail.com'}}</a></li>
										<li><i class="fa fa-phone"></i> <a href="#"> {{ propertyDetails.user_id.phone_number || '84848437338'}} </a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center" *ngIf="isLoggedIn">
						<button class="btn-submit btn-primary btn" (click)="showInquireNowModal = !showInquireNowModal">Enquire Now</button>
					</div>
					<div class="text-center" *ngIf="sideBarAddImg" style="margin-top: 20px;">
						<img src="{{sideBarAddImg}}" width="100%">
					</div>
				</div>
			</div>
		</div>				
	</div>	
	<div class="container" style="margin-top: 40px;" *ngIf="relatedProperty.length > 0">
		<div class="panel-box">
			<div class="panel-header">
				<h3 class="panel-title">View Related Property</h3>
			</div>
		</div>
		<div class="property-list archive-flex archive-with-footer" style="margin-top: 20px;">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let property of relatedProperty" [routerLink]="['/property-detail', property._id]">
						
						<div class="property-item" style="margin-bottom: 24px;">
							<div class="property-heading">
								<span class="item-price">$ {{ property.purchase_price }}</span>
								<a [routerLink]="['/property-detail', property._id]" class="item-detail btn">Detail <i class="fi flaticon-detail"></i></a>
							</div>
							<div class="img-box">
								<div class="property-label">
									<a href="#" class="property-label__type">House For Sale</a>
									<a href="#" class="property-label__status">Sold</a>
								</div>
								<a href="#" class="btn-compare" title="Compare Property"><i class="fa fa-exchange"></i></a>
								<a [routerLink]="['/property-detail', property._id]" class="img-box__image">
									<img src="{{baseUri + property.property_images[0] }}" alt="Property" class="img-responsive" *ngIf="property.property_images.length > 0">
								</a>
							</div>
							<div class="property-content">
								<a class="property-title">{{property.property_type}}</a>
								<div class="property-address">
									{{property.property_location}}
								</div>
								<div class="property-footer">
									<div class="item-wide"><span class="fi flaticon-wide"></span> 530</div>
									<div class="item-room"><span class="fi flaticon-room"></span> {{property.room}}</div>
									<div class="item-bathroom"><span class="fi flaticon-bathroom"></span> {{property.bathroom}}</div>
									<div class="item-garage"><span class="fi flaticon-garage"></span> {{property.garages}}</div>
								</div>
							</div>
						</div>
					</div>	
			</div>
		</div>
	</div>
</section>
<div class="app-modal-overlay" *ngIf="showInquireNowModal">
	<div class="app-modal">
		<div class="app-modal-body">
			<div class="row">
				<div class="col-md-12">
					<span style="font-size: 29px;"> Fill the details</span>
					<span class="inquiryModalCloseBtn" (click)="showInquireNowModal = !showInquireNowModal"><i class="fa fa-close"></i></span>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-12">
					<form #inquireForm = "ngForm" novalidate>
						<div class="form-group">
							<input type="text" class="form-control" name="first_name" placeholder="First Name" autocomplete="off" [(ngModel)]="inquireFormData.first_name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="last_name" placeholder="Last Name" autocomplete="off" [(ngModel)]="inquireFormData.last_name">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" name="email" placeholder="Email" required autocomplete="off" [(ngModel)]="inquireFormData.email">
						</div>
						<div class="form-group">
							<input type="tel" class="form-control" name="phone_number" placeholder="Phone" autocomplete="off" [(ngModel)]="inquireFormData.phone_number">
						</div>
						<div class="form-group">
							<textarea class="form-control" placeholder="comments" name="comments" autocomplete="off" [(ngModel)]="inquireFormData.comments"></textarea>
						</div>
						<!-- <button class="btn-submit btn-primary btn pull-left" (click)="showInquireNowModal = !showInquireNowModal">Close</button> -->
						<button class="btn-submit btn-primary btn" [disabled]="!inquireForm.form.valid" (click)="submitInquiryForm()">Submit</button>
					</form>
				</div>
			</div>			
		</div>
	</div>
</div>