<!-- ====== SINGLE PROPERTY PAGE HEADER ====== -->
<section class="page-header main-section" style="background-image: url(assets/images/bg_page_header_1.jpg)">
	<div class="container">
		<h1 class="page-header-title">Detail of property</h1>
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active">Property Detail</li>
		</ul>
	</div>
</section>

<!-- ====== SINGLE PROPERTY CONTENT ====== -->
<section class="page-section" *ngIf="propertyDetails">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- Content -->
				<div id="content">
					<!-- Property Single Detail / Description -->
					<article class="post property-item">
						<div class="post-property-header">
							<div class="row">
								<div class="col-md-8 col-sm-8">
									<h3 class="post-title"><a href="#">{{propertyDetails.property_type}}</a></h3>
								</div>
								<div class="col-md-4 col-sm-4 text-right">
									<span class="property-price">USD {{propertyDetails.purchase_price}} </span>
								</div>
							</div>
							<div class="property-address">
								{{propertyDetails.property_location}}
							</div>
							<div class="property-label">
								<a href="#" class="property-label__type">Villa For Sale</a>
								<a href="#" class="property-label__status">Available</a>
							</div>
						</div>
						
						<!-- Property Gallery Slider -->
						<div class="property-image">
							<div id="property-slider" class="property-slider">
								<!-- <img src="{{baseUri + images}}" *ngFor="let images of propertyDetails.property_images" alt="property image"> -->
								<img src="{{baseUri + propertyDetails.property_images[activeImage]}}" alt="property image">
							</div>
							<!-- Property Gallery Slider Navigation -->							
								<!-- <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)" style="background: #000;">
									<div class="slide" ngxSlickItem *ngFor="let images of propertyDetails.property_images; let i = index;" (click)="changeImage(i)" style="cursor: pointer;">
										<img src="{{baseUri + images}}"  alt="property image">
									</div>
								</ngx-slick> -->
								<div id="property-slider-nav" class="property-slider-nav">
									<img src="{{baseUri + images}}"  alt="property image" *ngFor="let images of propertyDetails.property_images; let i = index;" (click)="changeImage(i)">
 								</div>
						</div>
						<!-- Property facility Detail -->
						<div class="property-footer">
							<div class="item-wide"><span class="fi flaticon-wide"></span> 223 m2</div>
							<div class="item-room"><span class="fi flaticon-room"></span> {{propertyDetails.room}} </div>
							<div class="item-bathroom"><span class="fi flaticon-bathroom"></span> {{propertyDetails.bathroom}}</div>
							<div class="item-garage"><span class="fi flaticon-garage"></span> {{propertyDetails.garages}}</div>
							<div class="item-comment"><span class="fa fa-comments-o"></span> No Comments</div>
						</div>
						<p>{{propertyDetails.description}}</p>
						<!-- The Space Section -->
						<hr>
						<div class="row">
							<div class="col-md-12">
								<h3 class="heading-title">Costs</h3>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12">								
								<table class="detail-table" style="width: 100%">
									<tr>
										<td>Purchase price</td>
										<td>{{propertyDetails.purchase_price}}</td>
										<td>Estimated Rate</td>
										<td>{{propertyDetails.estimated_rate}}</td>
									</tr>
									<tr>
										<td>Notary Fee</td>
										<td>{{propertyDetails.notary_fee}}</td>
										<td>Brokerage Costs</td>
										<td>{{propertyDetails.brokerage_costs}}</td>
									</tr>
									<tr>
										<td>Land Transfer Tax by rate</td>
										<td>{{propertyDetails.land_rate || '-'}}</td>
									</tr>
								</table>
							</div>							
						</div>
						<!-- Facilities Section -->
						<hr>
						<div class="row">
							<div class="col-md-12">
								<h3 class="heading-title">Building and Energy Pass</h3>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12">
								<table class="detail-table" style="width: 100%">
									<tr>
										<td>Construction Year</td>
										<td>{{propertyDetails.construction_year}}</td>
										<td>Heating</td>
										<td>{{propertyDetails.heating}}</td>
									</tr>
									<tr>
										<td>Repair</td>
										<td>{{propertyDetails.repair}}</td>
										<td>Essential Enery Source</td>
										<td>{{propertyDetails.essential_enery_source || '-'}}</td>
									</tr>
									<tr>
										<td>Basement</td>
										<td>{{propertyDetails.basement}}</td>
										<td>Attic</td>
										<td>{{propertyDetails.attic}}</td>
									</tr>
									<tr>
										<td>Cellar</td>
										<td>{{propertyDetails.cellar}}</td>										
									</tr>
								</table>
							</div>
						</div>

						<hr>
						<div class="row">
							<div class="col-md-12">
								<h3 class="heading-title">Property Details</h3>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12">
								<table class="detail-table" style="width: 100%">
									<tr>
										<td>Property Type</td>
										<td>{{propertyDetails.property_type}}</td>
										<td>Undeveloped Property</td>
										<td>{{propertyDetails.undeveloped_property}}</td>
									</tr>
									<tr>
										<td>Storey</td>
										<td>{{propertyDetails.storey}}</td>
										<td>Vaccant From</td>
										<td>{{propertyDetails.vacant_from}}</td>
									</tr>
									<tr>
										<td>Living Space</td>
										<td>{{propertyDetails.living_space}}</td>
										<td>Rooms</td>
										<td>{{propertyDetails.room}}</td>
									</tr>
									<tr>
										<td>Usable Area</td>
										<td>{{propertyDetails.useable_area}}</td>
										<td>Bath Room</td>
										<td>{{propertyDetails.bathroom}}</td>										
									</tr>
									<tr>
										<td>Garages</td>
										<td>{{propertyDetails.garages}}</td>
										<td>Bedroom</td>
										<td>{{propertyDetails.bedroom}}</td>										
									</tr>
									<tr>
										<td>Plots</td>
										<td>{{propertyDetails.plots}}</td>
										<td>Kitchens</td>
										<td>{{propertyDetails.kitchens}}</td>										
									</tr>
									<tr>
										<td>Residential and Commercial</td>
										<td>{{propertyDetails.residential_and_commercial}}</td>																				
									</tr>
								</table>
								<hr />
								<div class="col-md-8">
									<div class="custom-graph">
										<div class="property-price-div" [ngStyle]="{'width': propertyPriceWidth }"></div>
										<div class="notary-fee-div" [ngStyle]="{'width': notaryFeeWidht }"></div>
										<div class="brokerage-costs-div" [ngStyle]="{'width': brokerageCostsWidth }"></div>
									</div>
									<ul class="custom-graph-indicators">
										<li id="property-price-div">
											Property Price<br>
											$ {{ propertyDetails.purchase_price }}
										</li>
										<li id="notary-fee-div">
											Notary fee<br>
											$ {{ propertyDetails.notary_fee }}
										</li>
										<li id="brokerage-costs-div">
											Brokerage Costs<br>
											$ {{ propertyDetails.brokerage_cost }}
										</li>
									</ul>
									<hr />
									Total Property Price $ {{ propertyDetails.purchase_price  + propertyDetails.notary_fee + propertyDetails.brokerage_cost }}
								</div>
							</div>
						</div>						
					</article>											

					<!-- Files Attachment -->
					<div class="property-file widget panel-box">
						<div class="panel-header">
							<h3 class="panel-title">File Attachments</h3>
						</div>
						<div class="panel-body">
							<ul class="property-attachment">
								<li>
									<a href="#" class="attachment-icon"><i class="fa fa-file-pdf-o"></i></a>
									<div class="attachment-text">
										<span class="text-title">Property Paper</span>
										<a href="" class="download-link">Download</a>
									</div>
								</li>
								<li>
									<a href="#" class="attachment-icon"><i class="fa fa-file-word-o"></i></a>
									<div class="attachment-text">
										<span class="text-title">Property Documents</span>
										<a href="" class="download-link">Download</a>
									</div>
								</li>
								<li>
									<a href="#" class="attachment-icon"><i class="fa fa-file-excel-o"></i></a>
									<div class="attachment-text">
										<span class="text-title">Property Pricing</span>
										<a href="" class="download-link">Download</a>
									</div>
								</li>
								<li>
									<a href="#" class="attachment-icon"><i class="fa fa-file-archive-o"></i></a>
									<div class="attachment-text">
										<span class="text-title">Property Archive</span>
										<a href="" class="download-link">Download</a>
									</div>
								</li>
								<li>
									<a href="#" class="attachment-icon"><i class="fa fa-file-o"></i></a>
									<div class="attachment-text">
										<span class="text-title">Property File</span>
										<a href="" class="download-link">Download</a>
									</div>
								</li>
							</ul>
						</div>
					</div>					
				</div>
			</div>
			<div class="col-md-4">

				<!-- Sidebar -->
				<div id="sidebar">
					<app-search></app-search>
					<!-- widget section Contact Our Agent -->
					<div class="widget">
						<!-- Panel Box -->
						<div class="panel-box">
							<!-- Panel Header / Title -->
							<div class="panel-header">
								<h3 class="panel-title">Contact Our Agent</h3>
							</div>
							<!-- Panel Body -->
							<div class="panel-body">
								<div class="profile-box">
									<div class="profile-header">
										<div class="profile-img"><img src="assets/images/img_author_default.jpg" alt="John Doe"></div>
										<h5 class="profile-title">John Doe</h5>
									</div>
									<ul class="profile-contact">
										<li><i class="fa fa-envelope"></i> <a href="javascript:void(0)">BAUFIMEDIA</a></li>
										<li><i class="fa fa-phone"></i> <a href="#">1300 123 123</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>