.page-header {
	background-image: url(/assets/images/bg_page_header_1.jpg) !important;
}
.property-feature {
	display: block; 
	list-style: none; 
	padding: 0;
}
.property-feature li strong {
	margin-left: 20px;
}
.custom-conditional-select-box {
	height: 36px;
    border-radius: 3px;
    padding: 5px;
    margin-left: 10px;
}