<!-- ====== PROPERTY ARCHIVE PAGE HEADER ====== -->
<section class="page-header main-section">
	<div class="container">
		<h1 class="page-header-title">Properties</h1>
		<ul class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li class="active">Properties</li>
		</ul>
	</div>
</section>

<!-- ====== PROPERTY LIST CONTENT ====== -->
<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- Content -->
				<div id="content">
					<div class="row">
						<div class="property-item property-archive col-lg-12 col-md-6 col-sm-6">
							<div class="row">
								<div class="col-lg-5">
									<a href="single-property.html" class="property-image">
										<img src="assets/images/property_item_default.jpg" alt="Post list 1">
									</a>
									<a href="#" class="btn-compare" title="Compare Property"><i class="fa fa-exchange"></i></a>
								</div>
								<div class="col-lg-7">
									<div class="property-content">
										<h3 class="property-title"><a href="single-property.html">Stunning new 4 bedroom must see villa in brawa</a></h3>
										<p>
											<span class="property-price">$ 200.000.000</span>
											<span class="property-label">
												<a href="#" class="property-label__type">Villa For Sale</a>
												<a href="#" class="property-label__status">Available</a>
											</span>
										</p>
										<div class="property-address">
											2096 Monroe Street, Houston, 77030 USA
										</div>
										<p class="property-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit quos mollitia omnis fuga, nihil suscipit, pariatur iusto dolore architecto labore consequatur minima molestias provident adipisci reiciendis officia, aspernatur dignissimos?</p>
										<div class="property-footer">
											<div class="item-wide"><span class="fi flaticon-wide"></span> 530</div>
											<div class="item-room"><span class="fi flaticon-room"></span> 4</div>
											<div class="item-bathroom"><span class="fi flaticon-bathroom"></span> 3</div>
											<div class="item-garage"><span class="fi flaticon-garage"></span> 1</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="property-item property-archive col-lg-12 col-md-6 col-sm-6">
							<div class="row">
								<div class="col-lg-5">
									<a href="single-property.html" class="property-image">
										<img src="assets/images/property_item_default.jpg" alt="Post list 1">
									</a>
									<a href="#" class="btn-compare" title="Compare Property"><i class="fa fa-exchange"></i></a>
								</div>
								<div class="col-lg-7">
									<div class="property-content">
										<h3 class="property-title"><a href="single-property.html">Stunning new 4 bedroom must see villa in brawa</a></h3>
										<p>
											<span class="property-price">$ 200.000.000</span>
											<span class="property-label">
												<a href="#" class="property-label__type">House For Sale</a>
												<a href="#" class="property-label__status">Sold</a>
											</span>
										</p>
										<div class="property-address">
											2096 Monroe Street, Houston, 77030 USA
										</div>
										<p class="property-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit quos mollitia omnis fuga, nihil suscipit, pariatur iusto dolore architecto labore consequatur minima molestias provident adipisci reiciendis officia, aspernatur dignissimos?</p>
										<div class="property-footer">
											<div class="item-wide"><span class="fi flaticon-wide"></span> 530</div>
											<div class="item-room"><span class="fi flaticon-room"></span> 4</div>
											<div class="item-bathroom"><span class="fi flaticon-bathroom"></span> 3</div>
											<div class="item-garage"><span class="fi flaticon-garage"></span> 1</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="property-item property-archive col-lg-12 col-md-6 col-sm-6">
							<div class="row">
								<div class="col-lg-5">
									<a href="single-property.html" class="property-image">
										<img src="assets/images/property_item_default.jpg" alt="Post list 1">
									</a>
									<a href="#" class="btn-compare" title="Compare Property"><i class="fa fa-exchange"></i></a>
								</div>
								<div class="col-lg-7">
									<div class="property-content">
										<h3 class="property-title"><a href="single-property.html">Stunning new 4 bedroom must see villa in brawa</a></h3>
										<p>
											<span class="property-price">$ 200.000.000</span>
											<span class="property-label">
												<a href="#" class="property-label__type">Villa For Rent</a>
												<a href="#" class="property-label__status">Available</a>
											</span>
										</p>
										<div class="property-address">
											2096 Monroe Street, Houston, 77030 USA
										</div>
										<p class="property-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit quos mollitia omnis fuga, nihil suscipit, pariatur iusto dolore architecto labore consequatur minima molestias provident adipisci reiciendis officia, aspernatur dignissimos?</p>
										<div class="property-footer">
											<div class="item-wide"><span class="fi flaticon-wide"></span> 530</div>
											<div class="item-room"><span class="fi flaticon-room"></span> 4</div>
											<div class="item-bathroom"><span class="fi flaticon-bathroom"></span> 3</div>
											<div class="item-garage"><span class="fi flaticon-garage"></span> 1</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="property-item property-archive col-lg-12 col-md-6 col-sm-6">
							<div class="row">
								<div class="col-lg-5">
									<a href="single-property.html" class="property-image">
										<img src="assets/images/property_item_default.jpg" alt="Post list 1">
									</a>
									<a href="#" class="btn-compare" title="Compare Property"><i class="fa fa-exchange"></i></a>
								</div>
								<div class="col-lg-7">
									<div class="property-content">
										<h3 class="property-title"><a href="single-property.html">Stunning new 4 bedroom must see villa in brawa</a></h3>
										<p>
											<span class="property-price">$ 200.000.000</span>
											<span class="property-label">
												<a href="#" class="property-label__type">House For Rent</a>
												<a href="#" class="property-label__status">Sold</a>
											</span>
										</p>
										<div class="property-address">
											2096 Monroe Street, Houston, 77030 USA
										</div>
										<p class="property-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit quos mollitia omnis fuga, nihil suscipit, pariatur iusto dolore architecto labore consequatur minima molestias provident adipisci reiciendis officia, aspernatur dignissimos?</p>
										<div class="property-footer">
											<div class="item-wide"><span class="fi flaticon-wide"></span> 530</div>
											<div class="item-room"><span class="fi flaticon-room"></span> 4</div>
											<div class="item-bathroom"><span class="fi flaticon-bathroom"></span> 3</div>
											<div class="item-garage"><span class="fi flaticon-garage"></span> 1</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="property-item property-archive col-lg-12 col-md-6 col-sm-6">
							<div class="row">
								<div class="col-lg-5">
									<a href="single-property.html" class="property-image">
										<img src="assets/images/property_item_default.jpg" alt="Post list 1">
									</a>
									<a href="#" class="btn-compare" title="Compare Property"><i class="fa fa-exchange"></i></a>
								</div>
								<div class="col-lg-7">
									<div class="property-content">
										<h3 class="property-title"><a href="single-property.html">Stunning new 4 bedroom must see villa in brawa</a></h3>
										<p>
											<span class="property-price">$ 200.000.000</span>
											<span class="property-label">
												<a href="#" class="property-label__type">Villa For Sale</a>
												<a href="#" class="property-label__status">Available</a>
											</span>
										</p>
										<div class="property-address">
											2096 Monroe Street, Houston, 77030 USA
										</div>
										<p class="property-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit quos mollitia omnis fuga, nihil suscipit, pariatur iusto dolore architecto labore consequatur minima molestias provident adipisci reiciendis officia, aspernatur dignissimos?</p>
										<div class="property-footer">
											<div class="item-wide"><span class="fi flaticon-wide"></span> 530</div>
											<div class="item-room"><span class="fi flaticon-room"></span> 4</div>
											<div class="item-bathroom"><span class="fi flaticon-bathroom"></span> 3</div>
											<div class="item-garage"><span class="fi flaticon-garage"></span> 1</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="property-item property-archive col-lg-12 col-md-6 col-sm-6">
							<div class="row">
								<div class="col-lg-5">
									<a href="single-property.html" class="property-image">
										<img src="assets/images/property_item_default.jpg" alt="Post list 1">
									</a>
									<a href="#" class="btn-compare" title="Compare Property"><i class="fa fa-exchange"></i></a>
								</div>
								<div class="col-lg-7">
									<div class="property-content">
										<h3 class="property-title"><a href="single-property.html">Stunning new 4 bedroom must see villa in brawa</a></h3>
										<p>
											<span class="property-price">$ 200.000.000</span>
											<span class="property-label">
												<a href="#" class="property-label__type">Villa For Rent</a>
												<a href="#" class="property-label__status">Available</a>
											</span>
										</p>
										<div class="property-address">
											2096 Monroe Street, Houston, 77030 USA
										</div>
										<p class="property-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sit quos mollitia omnis fuga, nihil suscipit, pariatur iusto dolore architecto labore consequatur minima molestias provident adipisci reiciendis officia, aspernatur dignissimos?</p>
										<div class="property-footer">
											<div class="item-wide"><span class="fi flaticon-wide"></span> 530</div>
											<div class="item-room"><span class="fi flaticon-room"></span> 4</div>
											<div class="item-bathroom"><span class="fi flaticon-bathroom"></span> 3</div>
											<div class="item-garage"><span class="fi flaticon-garage"></span> 1</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Property List Pagination -->
					<div class="pagination">
						<a href="#" class="prev"></a>
						<span class="current">1</span>
						<a href="#" class="page">2</a>
						<a href="#" class="page">3</a>
						<a href="#" class="page">4</a>
						<a href="#" class="page">5</a>
						<a href="#" class="next"></a>
					</div>
				</div>
			</div>
			<div class="col-md-4">

				<!-- Sidebar -->
				<div id="sidebar">									

					<app-search></app-search>

					<app-recent-property></app-recent-property>
				</div>
			</div>
		</div>
	</div>
</section>
