.property-feature {
	display: block; 
	list-style: none; 
	padding: 0;
}
.property-feature li strong {
	margin-left: 20px;
}
.custom-conditional-select-box {
	height: 36px;
    border-radius: 3px;
    padding: 5px;
    margin-left: 10px;
}
.custom-graph {
	width: 100%;
    height: 50px;
    display: flex;
}
.property-price-div {
	background: #BDBDBD;
}
.notary-fee-div {
	background: #6200EE;
}
.brokerage-costs-div {
	background: #3700B3;
}
.custom-graph-indicators {
	list-style: none;
  	padding: 0;
  	margin: 0;
  	display: flex;
}
.custom-graph-indicators li {
	padding-left: 1em; 
  text-indent: -.7em;
}
.custom-graph-indicators li#property-price-div::before {
	content: '\2022';
	color: #BDBDBD;
	font-size: 35px;
    position: relative;
    top: 10px;
}
.custom-graph-indicators li#notary-fee-div::before {
	content: "\2022";
	color: #6200EE;
	font-size: 35px;
    position: relative;
    top: 10px;
}
.custom-graph-indicators li#brokerage-costs-div::before {
	content: "\2022";
	color: #3700B3;
	font-size: 35px;
    position: relative;
    top: 10px;
}
.agent-badge {
	position: absolute;
    top: 2px;
    left: 10px;
    z-index: 9;
    background-color: rgba(41,56,72,0.8);
    padding: 5px;
    color: #fff;
    /* transform: rotate(-50deg); */
    overflow: hidden;
    border-radius: 50%;
}
.emi-popover {
    
}
.emi-popover:after {
    content: "";
    font-family: "FontAwesome";
    font-size: 12px;
    display: inline-block;
    font-weight: normal;
    margin-left: 7px;
    position: relative;
    top: -1px;
}
.app-modal-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;    
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    z-index: 999;
}

.app-modal {
    position: relative;
    background-color: #fefefe;  
    width: 600px;    
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 6px;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.app-modal-body {
    padding: 20px;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}