/* You can add global styles to this file, and also import other style files */
@media (min-width: 1199px) {
	.main-section {
		margin-top: 165px;
	}
}

.irs-bar-edge {
	background: #ddd;
}
.btn-primary, .btn-primary.btn-submit:hover, .btn-primary.btn-submit:active {
	background-color: #0071BC;
	border-color: #0071BC;
}
.property-item .property-label__status, .btn-compare {
	background-color: #0071BC !important;
}
.panel-box .panel-header .panel-title, .property-title, .property-price, .property-item .property-footer [class*="item-"] span, .profile-box .profile-contact li i, .attachment-icon {
	color: #009245 !important;
}
.property-item .property-label__type, .item-detail.btn {
	background-color: #009245 !important;
	color: #fff;
}
a {
	color: #0071BC;
}
body {
	background-color: #fff !important;
}
.property-address:before {
	color: #009245 !important;
}
.dropdown-menu li>a:hover,  li.dropdown a:hover{
	color: #009245 !important;	
}
.social-accounts {	
	display: flex;
    align-items: center;	
}
.social-accounts a i {
	font-size: 30px;
	margin-left: 15px;
	color: #fff;
}
.icon-text {
	color: #0071BC;
	font-size:  14px !important;
}
.redirectionLink {
	color: #0071BC !important;
}
.custom-ng-select .ng-select-container {
	height: 48px;
}
.custom-ng-select .ng-select-container .ng-placeholder {
	top: 10px !important;
}