@media (min-width: 1199px) {
	.main-section {
		margin-top: 165px;
	}
}

.irs-bar-edge {
	background: #ddd;
}
.btn-primary, .btn-primary.btn-submit:hover, .btn-primary.btn-submit:active, .btn-primary.btn-submit:focus {
	background-color: #0071BC;
	border-color: #0071BC;
}
.property-item .property-label__status, .btn-compare {
	background-color: #0071BC !important;
}
.panel-box .panel-header .panel-title, .property-title, .property-price, .property-item .property-footer [class*="item-"] span, .profile-box .profile-contact li i, .attachment-icon {
	color: #009245 !important;
}
.property-item .property-label__type, .item-detail.btn {
	background-color: #009245 !important;
	color: #fff;
}
a {
	color: #0071BC;
}
body {
	background-color: #fff !important;
}
.property-address:before {
	color: #009245 !important;
}
.dropdown-menu li>a:hover,  li.dropdown a:hover, li.dropdown a:focus {
	color: #009245 !important;
	cursor: pointer;	
}
.dropdown-menu:hover ~ a{
	color: #009245 !important;
}
.social-accounts {	
	display: flex;
    align-items: center;	
}
.social-accounts a i {
	font-size: 30px;
	margin-left: 15px;
	color: #fff;
}
.icon-text {
	color: #0071BC;
	font-size:  14px !important;
}
.redirectionLink {
	color: #0071BC !important;
}
.custom-ng-select .ng-select-container {
	height: 48px;
}
.custom-ng-select .ng-select-container .ng-placeholder {
	top: 10px !important;
}
.add-image img {
	height: 100px;
}
.other-costs {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;    
}
.search-tabmenu .tab-pane .form-body .row {
	margin-bottom: 0px;
}
.custom-search-tab {
	display: flex; 
	justify-content: center;
	margin-bottom: 1px;
}
.custom-search-tab li a{
	padding: 4px 15px !important;
    border-radius: 5px !important;
}
.info-field {
	display: flex; 
	align-items: center; 
	justify-content: space-between;
}
.info-field:first-child, .info-field select {
	width: 95% !important;
}

/*.location-input {
	height: 120px;
}
.location-input[placeholder] {
	line-height: 120px;
}*/
/*.dropdown-menu li:hover > ul {
	display: inline;
}
.child-dropdown-menu {
	position: absolute;
    top: 30px;
    left: 100%;
    min-width: 230px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}
.child-dropdown-menu li {
	position: relative;
    height: 30px;
    background: #0071BC;
}*/