<section id="page-builder" class="page-section main-section">
	<!-- HERO IMAGE WITH SEARCH FORM -->
	<div class="row tpb-row search-tool" [style.backgroundImage]="'url(' + search_img + ')'" style="padding-top: 144px; padding-bottom: 168px; margin: 0; background-size: cover; background-position: center;">
		<div class="tpb tpb-property_simple_search col-md-12">
			<div class="container">
				<!-- Tabmenu Container / Default Bootstrap Structure -->
				<div class="search-tabmenu">
					<!-- Tabmenu Navigation -->
					<ul class="nav nav-tabs custom-search-tab" role="tablist">
						<li class="active"><a href="#for-sale" role="tab" data-toggle="tab"><i class="fi flaticon-sale"></i> For Sale</a></li>
						<li><a href="#for-rent" role="tab" data-toggle="tab"><i class="fi flaticon-rent"></i> For Rent</a></li>
					</ul>
					<!-- Tabmenu Body / Content -->
					<div class="tab-content">
						<!-- Tabmenu Content 1 / Property For SALE -->
						<div role="tabpanel" class="tab-pane active" id="for-sale">
							<form>
								<div class="form-body">
									<!-- Property for Sale Content Row 1 -->
									<div class="row">
										<div class="col-md-3 form-group">
											<label for="postcode">Postcode</label>
											<input type="number" class="form-control" id="postcode" placeholder="4440404" name="postcode" [(ngModel)]="searchFilterObj.post_code" (change)="getLatLng(searchFilterObj.post_code)">
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-feet">Distance</label>
											<ion-range-slider #sliderElement type="double" min="0" max="50" from="0" to="30" (onFinish)="distanceSliderFinishEvent($event)">
											</ion-range-slider>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-type">Property Type</label>
											<!-- <select class="form-control" id="sale-type" multiple [(ngModel)]="searchFilterObj.property_type" name="property_type">
												<option value="{{property_type}}" *ngFor="let property_type of getValues('property_type')">{{ property_type }}</option>
											</select> -->
											<ng-select 
											[items]="property_type"
											[multiple]="true"
											[closeOnSelect]="false"
											bindLabel="name"
											placeholder="Select Property Type"
											name="property_type"
											[(ngModel)]="searchFilterObj.property_type"
											class="custom-ng-select">
											</ng-select>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-bedroom">Rooms</label>
											<select class="form-control" id="sale-bedroom" [(ngModel)]="searchFilterObj.bedroom" name="bedroom">
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('room'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
									</div>									
									<div class="row">
										<div class="col-md-3 form-group">	
											<label for="sale-garage">Choice</label>											
											<ng-select 
											[items]="choice"
											[multiple]="true"
											[closeOnSelect]="false"
											bindLabel="name"
											placeholder="Select Your Choice"
											name="choice"
											[(ngModel)]="searchFilterObj.choice"
											class="custom-ng-select">
											</ng-select>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-keyword">Keyword</label>
											<input type="text" class="form-control" id="sale-keyword" name="keyword" [(ngModel)]="searchFilterObj.keyword" placeholder="(e.g.'Villa')">
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-feet">Price</label>											
											<ion-range-slider #priceSlider type="double" min="1000" max="10000" from="1000" to="5000" (onFinish)="priceSliderFinishEvent($event)">
											</ion-range-slider>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-feet">Area (m2)</label>											
											<ion-range-slider #sliderElement type="double" min="0" max="300" from="0" to="200" (onFinish)="areaSliderFinishEvent($event)">
											</ion-range-slider>
										</div>																												
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<input type="radio" name="property_choice" [value]="true" [(ngModel)]="property_choice"> All
												<input type="radio" name="property_choice" [value]="false" [(ngModel)]="property_choice"> Private
											</div>
										</div>
									</div>
								</div>
								<!-- Property for Sale Submit Button -->
								<button class="btn btn-primary pull-right btn-submit" (click)="searchProperty('for_sale')"><i class="fa fa-search"></i></button>
							</form>
						</div>
						<div role="tabpanel" class="tab-pane" id="for-rent">
							<form action="#">
								<div class="form-body">
									<!-- Property for Sale Content Row 1 -->
									<div class="row">
										<div class="col-md-3 form-group">
											<label for="postcode_rent">Postcode</label>
											<input type="text" class="form-control" id="postcode_rent" placeholder="4440404" name="postcode" [(ngModel)]="searchFilterObj.post_code" (change) = "getLatLng(searchFilterObj.post_code)">
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-feet">Distance</label>
											<ion-range-slider #sliderElement type="double" min="0" max="50" from="0" to="30" (onFinish)="distanceSliderFinishEvent($event)">
											</ion-range-slider>
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-property_type">Property Type</label>											
											<ng-select 
											[items]="property_type_rent"
											[multiple]="true"
											[closeOnSelect]="false"
											bindLabel="name"
											placeholder="Select Property Type"
											name="property_type"
											[(ngModel)]="searchFilterObj.property_type"
											class="custom-ng-select">
											</ng-select>
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-bedroom">Rooms</label>
											<select class="form-control" id="rent-bedroom" [(ngModel)]="searchFilterObj.bedroom" name="bedroom">
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('room'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
									</div>
									<!-- Property for rent Content Row 2 -->
									<div class="row">
										<div class="col-md-3 form-group">											
											<label for="sale-garage">Choice</label>											
											<ng-select 
											[items]="choice"
											[multiple]="true"
											[closeOnSelect]="false"
											bindLabel="name"
											placeholder="Select Your Choice"
											name="choice"
											[(ngModel)]="searchFilterObj.choice"
											class="custom-ng-select">
											</ng-select>
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-keyword">Keyword</label>
											<input type="text" class="form-control" id="rent-keyword" name="keyword" [(ngModel)]="searchFilterObj.keyword" placeholder="(e.g.'Villa')">
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-price">Price</label>
											<ion-range-slider #priceRentSliderElement type="double" min="1000" max="5000" from="1000" to="5000" (onFinish)="areaSliderFinishEvent($event)">
											</ion-range-slider>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-feet">Area (m2)</label>											
											<ion-range-slider #rentSliderElement type="double" min="0" max="300" from="0" to="200" (onFinish)="areaSliderFinishEvent($event)">
											</ion-range-slider>
										</div>										
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<input type="radio" name="property_choice" [value]="true" [(ngModel)]="property_choice"> All
												<input type="radio" name="property_choice" [value]="false" [(ngModel)]="property_choice"> Private
											</div>
										</div>
									</div>
								</div>
								<!-- Property for rent Submit Button -->
								<button class="btn btn-primary pull-right btn-submit" (click)="searchProperty('for_rent')"><i class="fa fa-search"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>