<!-- ====== PROPERTY ARCHIVE PAGE HEADER ====== -->
<!-- <section class="page-header main-section" style="background-image: url(assets/images/bg_page_header_1.jpg)">
	<div class="container">
		<h1 class="page-header-title">Search Results</h1>
	</div>
</section> -->
<section id="property-search-result" class="archive-property">	
	<!-- ====== PAGE CONTENT ====== -->
	<div class="page-section">
		<div class="container">
			
			<div class="panel filter-panel">
				<div class="panel-body">
					<h4 class="filter-title pull-left">{{searchPropertyList.data ? searchPropertyList.data.length : 'No'}} Matches Found</h4>
					<!-- <form action="#" class="form-inline pull-right">
						<div class="form-group">
							<label>Sort By:</label>
							<select class="form-control">
								<option value="1">Lowest Price</option>
								<option value="2">Highest Price</option>
								<option value="3">Popular</option>
								<option value="4">Newest</option>
							</select>
						</div>
					</form> -->
				</div>
			</div>

			<div class="property-list archive-flex archive-with-footer">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let property of searchPropertyList.data" [routerLink]="['/property-detail', property._id]">
						<!-- Property Item -->
						<div class="property-item">
							<div class="property-heading">
								<span class="item-price">$ {{ property.purchase_price }}</span>
								<a [routerLink]="['/property-detail', property._id]" class="item-detail btn">Detail <i class="fi flaticon-detail"></i></a>
							</div>
							<div class="img-box">
								<div class="property-label">
									<a href="#" class="property-label__type">House For Sale</a>
									<a href="#" class="property-label__status">Sold</a>
								</div>
								<a href="#" class="btn-compare" title="Compare Property"><i class="fa fa-exchange"></i></a>
								<a [routerLink]="['/property-detail', property._id]" class="img-box__image">
									<img src="{{baseUri + property.property_images[0] }}" alt="Property" class="img-responsive" *ngIf="property.property_images.length > 0">
								</a>
							</div>
							<div class="property-content">
								<a class="property-title">{{property.property_type}}</a>
								<div class="property-address">
									{{property.property_location}}
								</div>
								<div class="property-footer">
									<div class="item-wide"><span class="fi flaticon-wide"></span> 530</div>
									<div class="item-room"><span class="fi flaticon-room"></span> {{property.room}}</div>
									<div class="item-bathroom"><span class="fi flaticon-bathroom"></span> {{property.bathroom}}</div>
									<div class="item-garage"><span class="fi flaticon-garage"></span> {{property.garages}}</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>

			<!-- <div class="pagination">
				<a href="#" class="prev"></a>
				<span class="current">1</span>
				<a href="#" class="page">2</a>
				<a href="#" class="page">3</a>
				<a href="#" class="page">4</a>
				<a href="#" class="page">5</a>
				<a href="#" class="next"></a>
			</div> -->

		</div>
	</div>

</section>