<!-- widget section Search Property -->
					<!-- <div class="widget">						
						<div class="search-tabmenu">							
							<div class="text-center" style="background-color: #43D3B1; border-color: #43D3B1; padding: 9px 15px; font-size: 16px; color: #fff;">
							Search
							</div>
							<div class="tab-content">								
								<div role="tabpanel" class="tab-pane active" id="for-sale">
									<form>
										<div class="form-body">											
											<div class="form-group">
												<label>Property Type</label>
												<select class="form-control" [(ngModel)]="searchFilterObj.property_type" name="property_type">
													<option value="">Select Property Type</option>
													<option value="{{ item }}" *ngFor="let item of getValues('property_type')"> {{ item }} </option>
												</select>
											</div>
											<div class="form-group">
												<label>Property Location</label>
												<input type="text" class="form-control" name="property_location" placeholder="Property Location" [(ngModel)]="searchFilterObj.property_location">
											</div>
											<div class="form-group">
												<label>Bath Room</label>
												<select class="form-control" name="bathroom" [(ngModel)]="searchFilterObj.bathroom">
													<option value="">Select Bathroom</option>
													<option value="{{ i + 1 }}" *ngFor="let item of getValues('bathroom'); let i = index;"> {{ i + 1 }} </option>
												</select>
											</div>
											<div class="form-group">
												<label>Bed Room</label>
												<select class="form-control" name="bedroom" [(ngModel)]="searchFilterObj.bedroom">
													<option value="">Select Bedroom</option>
													<option value="{{ i + 1 }}" *ngFor="let item of getValues('bedroom'); let i = index;"> {{ i + 1 }} </option>
												</select>
											</div>
											<div class="form-group">
												<label>Purchase Price</label>
												<input type="text" class="form-control" name="purchase_price" placeholder="Purchase Price" [(ngModel)]="searchFilterObj.purchase_price">
											</div>											
											<div class="form-group">
												<button class="btn btn-primary btn-submit" (click)="searchProperty()"><i class="fa fa-search"></i> Search</button>
											</div>
										</div>
									</form>
								</div>								
							</div>
						</div>
					</div> -->

<section id="page-builder" class="page-section main-section">
	<!-- HERO IMAGE WITH SEARCH FORM -->
	<div class="row tpb-row" [style.backgroundImage]="'url(' + search_img + ')'" style="padding-top: 144px; padding-bottom: 168px; margin: 0; background-size: cover; background-position: center;">
		<div class="tpb tpb-property_simple_search col-md-12">
			<div class="container">
				<!-- Tabmenu Container / Default Bootstrap Structure -->
				<div class="search-tabmenu">
					<!-- Tabmenu Navigation -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#for-sale" role="tab" data-toggle="tab"><i class="fi flaticon-sale"></i> For Sale</a></li>
						<li><a href="#for-rent" role="tab" data-toggle="tab"><i class="fi flaticon-rent"></i> For Rent</a></li>
					</ul>
					<!-- Tabmenu Body / Content -->
					<div class="tab-content">
						<!-- Tabmenu Content 1 / Property For SALE -->
						<div role="tabpanel" class="tab-pane active" id="for-sale">
							<form>
								<div class="form-body">
									<!-- Property for Sale Content Row 1 -->
									<div class="row">
										<div class="col-md-3 form-group">
											<label for="postcode">Postcode</label>
											<input type="text" class="form-control" id="postcode" placeholder="4440404" name="postcode" [(ngModel)]="searchFilterObj.post_code">
										</div>										
										<div class="col-md-3 form-group">
											<label for="sale-type">Property Type</label>
											<select class="form-control" id="sale-type" multiple [(ngModel)]="searchFilterObj.property_type" name="property_type">
												<option value="{{property_type}}" *ngFor="let property_type of getValues('property_type')">{{ property_type }}</option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-bedroom">Bed Room</label>
											<select class="form-control" id="sale-bedroom" [(ngModel)]="searchFilterObj.bedroom" name="bedroom">
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bedroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-bathroom">Bath Room</label>
											<select class="form-control" id="sale-bathroom" [(ngModel)]="searchFilterObj.bathroom" name="bathroom">
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bathroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
									</div>									
									<div class="row">
										<div class="col-md-3 form-group">																						
											<label for="sale-garage">Choice</label>
											<select class="form-control" name="choice" [(ngModel)]="searchFilterObj.choice" multiple>
												<option value="garder">Garder</option>
												<option value="balcony">Balcony</option>
												<option value="garage">Garage</option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-keyword">Keyword</label>
											<input type="text" class="form-control" id="sale-keyword" name="keyword" [(ngModel)]="searchFilterObj.keyword" placeholder="(e.g.'Villa')">
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-feet">Price</label>											
											<ion-range-slider #priceSlider type="double" min="1000" max="10000" from="1000" to="5000" (onFinish)="priceSliderFinishEvent($event)">
											</ion-range-slider>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-feet">Area (m2)</label>											
											<ion-range-slider #sliderElement type="double" min="10" max="400" from="10" to="100" (onFinish)="areaSliderFinishEvent($event)">
											</ion-range-slider>
										</div>
										<!-- <div class="col-md-3 form-group">
											<label for="sale-garage">Relevant</label>
											<select class="form-control" id="sale-garage" [(ngModel)]="recommended_offers" name="recommended_offers">
												<option value="">Recommended Offers</option>
												<option value="price_1">From cheapest to expensive</option>
												<option value="price_-1">From expensivest tocheap</option>
												<option value="area_1">Form smallest size to biggest</option>
												<option value="area_-1">From biggest size to smallest </option>
											</select>
										</div>	 -->																			
									</div>
								</div>
								<!-- Property for Sale Submit Button -->
								<button class="btn btn-primary pull-right btn-submit" (click)="searchProperty(recommended_offers, 'for_sale')"><i class="fa fa-search"></i> Search</button>
							</form>
						</div>
						<div role="tabpanel" class="tab-pane" id="for-rent">
							<form action="#">
								<div class="form-body">
									<!-- Property for Sale Content Row 1 -->
									<div class="row">
										<div class="col-md-3 form-group">
											<label for="postcode_rent">Postcode</label>
											<input type="text" class="form-control" id="postcode_rent" placeholder="4440404" name="postcode" [(ngModel)]="searchFilterObj.post_code">
										</div>										
										<div class="col-md-3 form-group">
											<label for="rent-property_type">Property Type</label>
											<select class="form-control" id="rent-property_type" multiple [(ngModel)]="searchFilterObj.property_type" name="property_type">
												<option value="{{property_type}}" *ngFor="let property_type of getValues('property_type')">{{ property_type }}</option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-bedroom">Bed Room</label>
											<select class="form-control" id="rent-bedroom" [(ngModel)]="searchFilterObj.bedroom" name="bedroom">
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bedroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-bathroom">Bath Room</label>
											<select class="form-control" id="rent-bathroom" [(ngModel)]="searchFilterObj.bathroom" name="bathroom">
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bathroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>										
									</div>
									<!-- Property for rent Content Row 2 -->
									<div class="row">
										<div class="col-md-3 form-group">											
											<label for="sale-garage">Choice</label>
											<select class="form-control" name="choice" [(ngModel)]="searchFilterObj.choice" multiple>
												<option value="garder">Garder</option>
												<option value="balcony">Balcony</option>
												<option value="garage">Garage</option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-keyword">Keyword</label>
											<input type="text" class="form-control" id="rent-keyword" name="keyword" [(ngModel)]="searchFilterObj.keyword" placeholder="(e.g.'Villa')">
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-price">Price</label>
											<ion-range-slider #priceRentSliderElement type="double" min="1000" max="10000" from="1000" to="5000" (onFinish)="areaSliderFinishEvent($event)">
											</ion-range-slider>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-feet">Area (m2)</label>											
											<ion-range-slider #rentSliderElement type="double" min="10" max="400" from="10" to="100" (onFinish)="areaSliderFinishEvent($event)">
											</ion-range-slider>
										</div>										
									</div>
								</div>
								<!-- Property for rent Submit Button -->
								<button class="btn btn-primary pull-right btn-submit" (click)="searchProperty(recommended_offers, 'for_rent')"><i class="fa fa-search"></i> Search</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>