<!-- widget section Search Property -->
					<div class="widget">
						<!-- Search Tabmenu -->
						<div class="search-tabmenu">
							<!-- Tabmenu Navigation -->
							<div class="text-center" style="background-color: #43D3B1; border-color: #43D3B1; padding: 9px 15px; font-size: 16px; color: #fff;">
							Search
							</div>
							<div class="tab-content">
								<!-- Tab Content For Sale -->
								<div role="tabpanel" class="tab-pane active" id="for-sale">
									<form>
										<div class="form-body">											
											<div class="form-group">
												<label>Property Type</label>
												<select class="form-control" [(ngModel)]="searchFilterObj.property_type" name="property_type">
													<option value="">Select Property Type</option>
													<option value="{{ item }}" *ngFor="let item of getValues('property_type')"> {{ item }} </option>
												</select>
											</div>
											<div class="form-group">
												<label>Property Location</label>
												<input type="text" class="form-control" name="property_location" placeholder="Property Location" [(ngModel)]="searchFilterObj.property_location">
											</div>
											<div class="form-group">
												<label>Bath Room</label>
												<select class="form-control" name="bathroom" [(ngModel)]="searchFilterObj.bathroom">
													<option value="">Select Bathroom</option>
													<option value="{{ i + 1 }}" *ngFor="let item of getValues('bathroom'); let i = index;"> {{ i + 1 }} </option>
												</select>
											</div>
											<div class="form-group">
												<label>Bed Room</label>
												<select class="form-control" name="bedroom" [(ngModel)]="searchFilterObj.bedroom">
													<option value="">Select Bedroom</option>
													<option value="{{ i + 1 }}" *ngFor="let item of getValues('bedroom'); let i = index;"> {{ i + 1 }} </option>
												</select>
											</div>
											<div class="form-group">
												<label>Purchase Price</label>
												<input type="text" class="form-control" name="purchase_price" placeholder="Purchase Price" [(ngModel)]="searchFilterObj.purchase_price">
											</div>											
											<div class="form-group">
												<button class="btn btn-primary btn-submit" (click)="searchProperty()"><i class="fa fa-search"></i> Search</button>
											</div>
										</div>
									</form>
								</div>								
							</div>
						</div>
					</div>