<!-- ====== PAGE BUILDER TEMPLATE ====== -->
<section id="page-builder" class="page-section main-section">
	<!-- HERO IMAGE WITH SEARCH FORM -->
	<div class="row tpb-row" style="background-image: url(assets/images/home_hero_image_default.jpg); padding-top: 144px; padding-bottom: 168px; margin: 0; background-size: cover; background-position: center;">
		<div class="tpb tpb-property_simple_search col-md-12">
			<div class="container">
				<!-- Tabmenu Container / Default Bootstrap Structure -->
				<div class="search-tabmenu">
					<!-- Tabmenu Navigation -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#for-sale" role="tab" data-toggle="tab"><i class="fi flaticon-sale"></i> For Sale</a></li>
						<li><a href="#for-rent" role="tab" data-toggle="tab"><i class="fi flaticon-rent"></i> For Rent</a></li>
					</ul>
					<!-- Tabmenu Body / Content -->
					<div class="tab-content">
						<!-- Tabmenu Content 1 / Property For SALE -->
						<div role="tabpanel" class="tab-pane active" id="for-sale">
							<form action="#">
								<div class="form-body">
									<!-- Property for Sale Content Row 1 -->
									<div class="row">
										<div class="col-md-3 form-group">
											<label for="postcode">Postcode</label>
											<input type="text" class="form-control" id="postcode" placeholder="4440404" name="postcode">
										</div>										
										<div class="col-md-3 form-group">
											<label for="sale-type">Property Type</label>
											<select class="form-control" id="sale-type">
												<option value="{{property_type}}" *ngFor="let property_type of getValues('property_type')">{{ property_type }}</option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-bedroom">Bed Room</label>
											<select class="form-control" id="sale-bedroom">												
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bedroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-bathroom">Bath Room</label>
											<select class="form-control" id="sale-bathroom">
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bathroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
									</div>									
									<div class="row">
										<div class="col-md-3 form-group">
											<label for="sale-garage">View</label>
											<select class="form-control" id="sale-garage">
												<option>Garden</option>
												<option>Balcony</option>
												<option>Garage</option>
												<option>EBK</option>												
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-keyword">Keyword</label>
											<input type="text" class="form-control" id="sale-keyword" placeholder="(e.g.'office')">
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-feet">Area (m2)</label>
											<!-- <div class="range-box">
												<input id="sale-range-feet" readonly="">
											</div> -->
											<ion-range-slider #sliderElement min="10" max="100" from="10" to="100" extra_classes="range-slider-background">
											</ion-range-slider>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-garage">Relevant</label>
											<select class="form-control" id="sale-garage">
												<option>Recommendet Offers</option>
												<option>From cheapest to expensive</option>
												<option>From expensivest tocheap</option>
												<option>Form smallest size to biggest</option>
												<option>From biggest size to smallest </option>
											</select>
										</div>										
										<!-- <div class="col-md-3 form-group">
											<label for="sale-range-price">Price (USD)</label>
											<div class="range-box">
												<input id="sale-range-price" readonly="">
											</div>
										</div> -->
									</div>
								</div>
								<!-- Property for Sale Submit Button -->
								<button class="btn btn-primary pull-right btn-submit" type="submit"><i class="fa fa-search"></i> Search</button>
							</form>
						</div>
						<div role="tabpanel" class="tab-pane" id="for-rent">
							<form action="#">
								<div class="form-body">
									<!-- Property for Sale Content Row 1 -->
									<div class="row">
										<div class="col-md-3 form-group">
											<label for="rent-location">Property Location</label>
											<select class="form-control" id="rent-location">
												<option>Any Location</option>
												<option>Melbourne</option>
												<option>Sydney</option>
												<option>Adelaide</option>
												<option>Darwin</option>
												<option>Perth</option>
												<option>Canberra</option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-type">Property Type</label>
											<select class="form-control" id="rent-type">
												<option>Any Type</option>
												<option>Houses</option>
												<option>Apartments</option>
												<option>Unit</option>
												<option>Townhouse</option>
												<option>Land</option>
												<option>RUral</option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-bedroom">Bed Room</label>
											<select class="form-control" id="rent-bedroom">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-bathroom">Bath Room</label>
											<select class="form-control" id="rent-bathroom">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
									</div>
									<!-- Property for rent Content Row 2 -->
									<div class="row">
										<div class="col-md-3 form-group">
											<label for="rent-garage">Garage</label>
											<select class="form-control" id="rent-garage">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-keyword">Keyword</label>
											<input type="text" class="form-control" id="rent-keyword" placeholder="(e.g.'office')">
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-range-feet">Area (m2)</label>
											<div class="range-box">
												<input id="rent-range-feet" readonly="">
											</div>
										</div>
										<div class="col-md-3 form-group">
											<label for="rent-range-price">Price (USD)</label>
											<div class="range-box">
												<input id="rent-range-price" readonly="">
											</div>
										</div>
									</div>
								</div>
								<!-- Property for rent Submit Button -->
								<button class="btn btn-primary pull-right btn-submit" type="submit"><i class="fa fa-search"></i> Search</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ====== FEATURED PROPERTY SECTION ====== -->
<section id="featured-property" class="page-section">
	<div class="container">
		<!-- Section Title -->
		<div class="section-header">
			<h2 class="section-title">Individual Property</h2>
		</div>
		<!-- Section Content -->
		<div class="row">
			<div class="col-md-4 col-sm-6" *ngFor="let property of propertyList">
				<!-- Property Item Tall -->
				<div class="property-item">
					<div class="property-header">
						<a [routerLink]="['/property-detail', property._id]" class="item-category">{{property.name}}</a>
						<a [routerLink]="['/property-detail', property._id]" class="item-title">{{property.property_type}} in {{property.property_location}} </a>
						<div class="item-price">$ {{ property.purchase_price }} </div>
					</div>
					<figure class="item-img" data-id="{{baseUri + property.property_images[0]}}"  [style.backgroundImage]="'url(' + baseUri + property.property_images[0] + ')'">
						<a [routerLink]="['/property-detail', property._id]"></a>
					</figure>
				</div>
			</div>
			<!-- <div class="col-md-4 col-md-push-4 col-sm-6">				
				<div class="property-item">
					<div class="property-header">
						<a href="archive-property.html" class="item-category">Home</a>
						<a href="single-property.html" class="item-title">Luxury home for sale in Los Angeles</a>
						<div class="item-price">$ 870.000</div>
					</div>
					<figure class="item-img" style="background-image: url('assets/images/best_offer_default.jpg');">
						<a href="single-property.html"></a>
					</figure>
				</div>
			</div> -->
			<!-- <div class="col-md-4 col-md-pull-4">				
				<div class="multiple-item">
					<div class="row">
						<div class="col-md-12 col-sm-6">							
							<div class="property-item">
								<div class="property-header">
									<a href="archive-property.html" class="item-category">Apartment</a>
									<a href="single-property.html" class="item-title">Luxury home for sale in Los Angeles</a>
									<div class="item-price">$ 560.000</div>
								</div>
								<figure class="item-img" style="background-image: url('assets/images/best_offer_default.jpg');">
									<a href="single-property.html"></a>
								</figure>
							</div>
						</div>
						<div class="col-md-12 col-sm-6">							
							<div class="property-item">
								<div class="property-header">
									<a href="archive-property.html" class="item-category">Apartment</a>
									<a href="single-property.html" class="item-title">Luxury home for sale in Los Angeles</a>
									<div class="item-price">$ 990.000</div>
								</div>
								<figure class="item-img" style="background-image: url('assets/images/best_offer_default.jpg');">
									<a href="single-property.html"></a>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</section>

<section id="featured-property" class="page-section">
	<div class="container">
		<!-- Section Title -->
		<div class="section-header">
			<h2 class="section-title">Agent Property</h2>
		</div>
		<!-- Section Content -->
		<div class="row">
			<div class="col-md-4 col-sm-6" *ngFor="let property of propertyList">
				<!-- Property Item Tall -->
				<div class="property-item">
					<div class="property-header">
						<a [routerLink]="['/property-detail', property._id]" class="item-category">{{property.name}}</a>
						<a [routerLink]="['/property-detail', property._id]" class="item-title">{{property.property_type}} in {{property.property_location}} </a>
						<div class="item-price">$ {{ property.purchase_price }} </div>
					</div>
					<figure class="item-img" data-id="{{baseUri + property.property_images[0]}}"  [style.backgroundImage]="'url(' + baseUri + property.property_images[0] + ')'">
						<a [routerLink]="['/property-detail', property._id]"></a>
					</figure>
				</div>
			</div>
			
		</div>
	</div>
</section>

<section id="featured-property" class="page-section">
	<div class="container">
		<!-- Section Title -->
		<div class="section-header">
			<h2 class="section-title">Holiday Homes</h2>
		</div>
		<!-- Section Content -->
		<div class="row">
			<div class="col-md-4 col-sm-6" *ngFor="let property of propertyList">
				<!-- Property Item Tall -->
				<div class="property-item">
					<div class="property-header">
						<a [routerLink]="['/property-detail', property._id]" class="item-category">{{property.name}}</a>
						<a [routerLink]="['/property-detail', property._id]" class="item-title">{{property.property_type}} in {{property.property_location}} </a>
						<div class="item-price">$ {{ property.purchase_price }} </div>
					</div>
					<figure class="item-img" data-id="{{baseUri + property.property_images[0]}}"  [style.backgroundImage]="'url(' + baseUri + property.property_images[0] + ')'">
						<a [routerLink]="['/property-detail', property._id]"></a>
					</figure>
				</div>
			</div>
			
		</div>
	</div>
</section>