<!-- ====== PAGE BUILDER TEMPLATE ====== -->
<section id="page-builder" class="page-section main-section">
	<!-- HERO IMAGE WITH SEARCH FORM -->
	<div class="row tpb-row" [style.backgroundImage]="'url(' + headerSetting.search_img + ')'" style="padding-top: 144px; padding-bottom: 168px; margin: 0; background-size: cover; background-position: center;">
		<div class="tpb tpb-property_simple_search col-md-12">
			<div class="container">
				<!-- Tabmenu Container / Default Bootstrap Structure -->
				<div class="search-tabmenu">
					<!-- Tabmenu Navigation -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#for-sale" role="tab" data-toggle="tab"><i class="fi flaticon-sale"></i> For Sale</a></li>
						<li><a href="#for-rent" role="tab" data-toggle="tab"><i class="fi flaticon-rent"></i> For Rent</a></li>
					</ul>
					<!-- Tabmenu Body / Content -->
					<div class="tab-content">
						<!-- Tabmenu Content 1 / Property For SALE -->
						<div role="tabpanel" class="tab-pane active" id="for-sale">
							<form>
								<div class="form-body">
									<!-- Property for Sale Content Row 1 -->
									<div class="row">
										<div class="col-md-2 form-group">
											<label for="postcode">Postcode</label>
											<input type="text" class="form-control" id="postcode" placeholder="4440404" name="postcode" [(ngModel)]="searchFilterObj.post_code">
										</div>										
										<div class="col-md-3 form-group">
											<label for="sale-type">Property Type</label>
											<select class="form-control" id="sale-type" [(ngModel)]="searchFilterObj.property_type" name="property_type">
												<option value="{{property_type}}" *ngFor="let property_type of getValues('property_type')">{{ property_type }}</option>
											</select>
										</div>
										<div class="col-md-2 form-group">
											<label for="sale-bedroom">Bed Room</label>
											<select class="form-control" id="sale-bedroom" [(ngModel)]="searchFilterObj.bedroom" name="bedroom">
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bedroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="col-md-2 form-group">
											<label for="sale-bathroom">Bath Room</label>
											<select class="form-control" id="sale-bathroom" [(ngModel)]="searchFilterObj.bathroom" name="bathroom">
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bathroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="property_location">Property Location</label>
											<input type="text" name="property_location" id="property_location" class="form-control" [(ngModel)]="searchFilterObj.property_location" placeholder="Location">
										</div>
									</div>									
									<div class="row">
										<div class="col-md-3 form-group">											
											<!-- <div class="custom-checkbox">
												<input type="checkbox" name="has_garden" [checked]="searchFilterObj.has_garden" (change)="searchFilterObj.has_garden = !searchFilterObj.has_garden"> Garden
											</div>
											<div class="custom-checkbox">
												<input type="checkbox" name="has_balcony" [checked]="searchFilterObj.has_balcony" (change)="searchFilterObj.has_balcony = !searchFilterObj.has_balcony" > Balcony
											</div>
											<div class="custom-checkbox">
												<input type="checkbox" name="has_garage" [checked]="searchFilterObj.has_garage" (change)="searchFilterObj.has_garage = !searchFilterObj.has_garage"> Garage
											</div> -->
											<label for="sale-garage">Choice</label>
											<select class="form-control" name="choice" [(ngModel)]="searchFilterObj.choice" multiple>
												<option value="garder">Garder</option>
												<option value="balcony">Balcony</option>
												<option value="garage">Garage</option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-keyword">Keyword</label>
											<input type="text" class="form-control" id="sale-keyword" name="keyword" [(ngModel)]="searchFilterObj.keyword" placeholder="(e.g.'Villa')">
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-feet">Area (m2)</label>
											<!-- <div class="range-box">
												<input id="sale-range-feet" readonly="">
											</div> -->
											<ion-range-slider #sliderElement type="double" min="10" max="400" from="10" to="100" (onFinish)="areaSliderFinishEvent($event)">
											</ion-range-slider>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-garage">Relevant</label>
											<select class="form-control" id="sale-garage" [(ngModel)]="recommended_offers" name="recommended_offers">
												<option value="">Recommended Offers</option>
												<option value="price_1">From cheapest to expensive</option>
												<option value="price_-1">From expensivest tocheap</option>
												<option value="area_1">Form smallest size to biggest</option>
												<option value="area_-1">From biggest size to smallest </option>
											</select>
										</div>										
										<!-- <div class="col-md-3 form-group">
											<label for="sale-range-price">Price (USD)</label>
											<div class="range-box">
												<input id="sale-range-price" readonly="">
											</div>
										</div> -->
									</div>
								</div>
								<!-- Property for Sale Submit Button -->
								<button class="btn btn-primary pull-right btn-submit" (click)="searchProperty(recommended_offers, 'for_sale')"><i class="fa fa-search"></i> Search</button>
							</form>
						</div>
						<div role="tabpanel" class="tab-pane" id="for-rent">
							<form action="#">
								<div class="form-body">
									<!-- Property for Sale Content Row 1 -->
									<div class="row">
										<div class="col-md-2 form-group">
											<label for="postcode">Postcode</label>
											<input type="text" class="form-control" id="postcode" placeholder="4440404" name="postcode" [(ngModel)]="searchFilterObj.post_code">
										</div>										
										<div class="col-md-3 form-group">
											<label for="sale-type">Property Type</label>
											<select class="form-control" id="sale-type" [(ngModel)]="searchFilterObj.property_type" name="property_type">
												<option value="{{property_type}}" *ngFor="let property_type of getValues('property_type')">{{ property_type }}</option>
											</select>
										</div>
										<div class="col-md-2 form-group">
											<label for="sale-bedroom">Bed Room</label>
											<select class="form-control" id="sale-bedroom" [(ngModel)]="searchFilterObj.bedroom" name="bedroom">
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bedroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="col-md-2 form-group">
											<label for="sale-bathroom">Bath Room</label>
											<select class="form-control" id="sale-bathroom" [(ngModel)]="searchFilterObj.bathroom" name="bathroom">
												<option value="{{ i + 1 }}" *ngFor="let item of getValues('bathroom'); let i = index;"> {{ i + 1 }} </option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="property_location">Property Location</label>
											<input type="text" name="property_location" id="property_location" class="form-control" [(ngModel)]="searchFilterObj.property_location" placeholder="Location">
										</div>
									</div>
									<!-- Property for rent Content Row 2 -->
									<div class="row">
										<div class="col-md-3 form-group">											
											<label for="sale-garage">Choice</label>
											<select class="form-control" name="choice" [(ngModel)]="searchFilterObj.choice" multiple>
												<option value="garder">Garder</option>
												<option value="balcony">Balcony</option>
												<option value="garage">Garage</option>
											</select>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-keyword">Keyword</label>
											<input type="text" class="form-control" id="sale-keyword" name="keyword" [(ngModel)]="searchFilterObj.keyword" placeholder="(e.g.'Villa')">
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-range-feet">Area (m2)</label>
											<!-- <div class="range-box">
												<input id="sale-range-feet" readonly="">
											</div> -->
											<ion-range-slider #sliderElement type="double" min="10" max="400" from="10" to="100" (onFinish)="areaSliderFinishEvent($event)">
											</ion-range-slider>
										</div>
										<div class="col-md-3 form-group">
											<label for="sale-garage">Relevant</label>
											<select class="form-control" id="sale-garage" [(ngModel)]="recommended_offers" name="recommended_offers">
												<option value="">Recommended Offers</option>
												<option value="price_1">From cheapest to expensive</option>
												<option value="price_-1">From expensivest tocheap</option>
												<option value="area_1">Form smallest size to biggest</option>
												<option value="area_-1">From biggest size to smallest </option>
											</select>
										</div>										
										<!-- <div class="col-md-3 form-group">
											<label for="sale-range-price">Price (USD)</label>
											<div class="range-box">
												<input id="sale-range-price" readonly="">
											</div>
										</div> -->
									</div>
								</div>
								<!-- Property for rent Submit Button -->
								<button class="btn btn-primary pull-right btn-submit" (click)="searchProperty(recommended_offers, 'for_rent')"><i class="fa fa-search"></i> Search</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ====== FEATURED PROPERTY SECTION ====== -->
<section id="featured-property" class="page-section">
	<div class="container">
		<!-- Section Title -->
		<div class="section-header">
			<h2 class="section-title">Individual Property</h2>
		</div>
		<!-- Section Content -->
		<div class="row">
			<div class="col-md-4 col-sm-6" *ngFor="let property of userPropertyList" [ngClass]="{'col-md-12' : userPropertyList.length == 1, 'col-md-6' : userPropertyList.length == 2}">
				<!-- Property Item Tall -->
				<div class="property-item">
					<div class="property-header">
						<a [routerLink]="['/property-detail', property._id]" class="item-category">{{property.name}}</a>
						<a [routerLink]="['/property-detail', property._id]" class="item-title">{{property.property_type}} in {{property.property_location}} </a>
						<div class="item-price">$ {{ property.purchase_price }} </div>
					</div>
					<figure class="item-img" data-id="{{baseUri + property.property_images[0]}}"  [style.backgroundImage]="'url(' + baseUri + property.property_images[0] + ')'">
						<a [routerLink]="['/property-detail', property._id]"></a>
					</figure>
				</div>
			</div>
			<!-- <div class="col-md-4 col-md-push-4 col-sm-6">				
				<div class="property-item">
					<div class="property-header">
						<a href="archive-property.html" class="item-category">Home</a>
						<a href="single-property.html" class="item-title">Luxury home for sale in Los Angeles</a>
						<div class="item-price">$ 870.000</div>
					</div>
					<figure class="item-img" style="background-image: url('assets/images/best_offer_default.jpg');">
						<a href="single-property.html"></a>
					</figure>
				</div>
			</div> -->
			<!-- <div class="col-md-4 col-md-pull-4">				
				<div class="multiple-item">
					<div class="row">
						<div class="col-md-12 col-sm-6">							
							<div class="property-item">
								<div class="property-header">
									<a href="archive-property.html" class="item-category">Apartment</a>
									<a href="single-property.html" class="item-title">Luxury home for sale in Los Angeles</a>
									<div class="item-price">$ 560.000</div>
								</div>
								<figure class="item-img" style="background-image: url('assets/images/best_offer_default.jpg');">
									<a href="single-property.html"></a>
								</figure>
							</div>
						</div>
						<div class="col-md-12 col-sm-6">							
							<div class="property-item">
								<div class="property-header">
									<a href="archive-property.html" class="item-category">Apartment</a>
									<a href="single-property.html" class="item-title">Luxury home for sale in Los Angeles</a>
									<div class="item-price">$ 990.000</div>
								</div>
								<figure class="item-img" style="background-image: url('assets/images/best_offer_default.jpg');">
									<a href="single-property.html"></a>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</section>


<section id="howto-buy" class="page-section no-pattern" style="background-image: url(assets/images/bg_video_1.jpg);">
	<div class="container">
		<!-- Section Title -->
		<div class="section-header">
			<h2 class="section-title">Agent Property</h2>
		</div>
		<!-- Section Content -->
		<div class="row">
			<div class="col-md-4 col-sm-6" *ngFor="let property of agentPropertyList" [ngClass]="{'col-md-12' : agentPropertyList.length == 1, 'col-md-6' : agentPropertyList.length == 2}">
				<!-- Property Item Tall -->
				<div class="property-item">
					<div class="property-header">
						<a [routerLink]="['/property-detail', property._id]" class="item-category">{{property.name}}</a>
						<a [routerLink]="['/property-detail', property._id]" class="item-title">{{property.property_type}} in {{property.property_location}} </a>
						<div class="item-price">$ {{ property.purchase_price }} </div>
					</div>
					<figure class="item-img" data-id="{{baseUri + property.property_images[0]}}"  [style.backgroundImage]="'url(' + baseUri + property.property_images[0] + ')'">
						<a [routerLink]="['/property-detail', property._id]"></a>
					</figure>
				</div>
			</div>			
		</div>
	</div>
</section>

<section id="featured-property" class="page-section">
	<div class="container">
		<!-- Section Title -->
		<div class="section-header">
			<h2 class="section-title">Holiday Homes</h2>
		</div>
		<!-- Section Content -->
		<div class="row">
			<div class="col-md-4 col-sm-6" *ngFor="let property of propertyOnRentList" [ngClass]="{'col-md-12' : propertyOnRentList.length == 1, 'col-md-6' : propertyOnRentList.length == 2}">
				<!-- Property Item Tall -->
				<div class="property-item">
					<div class="property-header">
						<a [routerLink]="['/property-detail', property._id]" class="item-category">{{property.name}}</a>
						<a [routerLink]="['/property-detail', property._id]" class="item-title">{{property.property_type}} in {{property.property_location}} </a>
						<div class="item-price">$ {{ property.rent_price }} Rent</div>
					</div>
					<figure class="item-img" data-id="{{baseUri + property.property_images[0]}}"  [style.backgroundImage]="'url(' + baseUri + property.property_images[0] + ')'">
						<a [routerLink]="['/property-detail', property._id]"></a>
					</figure>
				</div>
			</div>
			
		</div>
	</div>
</section>

<!-- Modal -->
<div id="loginReqMoal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login Required</h4>
      </div>
      <div class="modal-body">
        <img src="{{ headerSetting.register_img }}" (click)="redirectToLogin()" style="width: 100%;" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>