<app-search></app-search>

<!-- ====== FEATURED PROPERTY SECTION ====== -->

<section id="featured-property" class="page-section">
	<div class="container">
		<!-- Section Title -->
		<div class="section-header">
			<h2 class="section-title">Individual Property</h2>
		</div>
		<!-- Section Content -->
		<div class="row">
			<div class="col-md-4 col-sm-6" *ngFor="let property of userPropertyList" [ngClass]="{'col-md-12' : userPropertyList.length == 1, 'col-md-6' : userPropertyList.length == 2}">
				<!-- Property Item Tall -->
				<div class="property-item">
					<div class="property-header">
						<a [routerLink]="['/property-detail', property._id]" class="item-category">{{property.name}}</a>
						<a [routerLink]="['/property-detail', property._id]" class="item-title">{{property.property_type}} in {{property.property_location}} </a>
						<div class="item-price">$ {{ property.purchase_price }} </div>
					</div>
					<figure class="item-img" [style.backgroundImage]="'url(' + baseUri + property.property_images[0] + ')' || 'url(' + property.property_images[0] + ')'">
						<a [routerLink]="['/property-detail', property._id]"></a>
					</figure>
				</div>
			</div>			
		</div>
	</div>
</section>


<section id="howto-buy" class="page-section no-pattern" [style.backgroundImage]="'url(' + (headerSetting.howtobuyimg || 'assets/images/bg_video_1.jpg') + ')'">
	<div class="container">
		<!-- Section Title -->
		<div class="section-header">
			<h2 class="section-title">Agent Property</h2>
		</div>
		<!-- Section Content -->
		<div class="row">
			<div class="col-md-4 col-sm-6" *ngFor="let property of agentPropertyList" [ngClass]="{'col-md-12' : agentPropertyList.length == 1, 'col-md-6' : agentPropertyList.length == 2}">
				<!-- Property Item Tall -->
				<div class="property-item">
					<div class="property-header">
						<a [routerLink]="['/property-detail', property._id]" class="item-category">{{property.name}}</a>
						<a [routerLink]="['/property-detail', property._id]" class="item-title">{{property.property_type}} in {{property.property_location}} </a>
						<div class="item-price">$ {{ property.purchase_price }} </div>
					</div>
					<figure class="item-img" data-id="{{baseUri + property.property_images[0]}}"  [style.backgroundImage]="'url(' + baseUri + property.property_images[0] + ')'">
						<a [routerLink]="['/property-detail', property._id]"></a>
					</figure>
				</div>
			</div>			
		</div>
	</div>
</section>

<section id="featured-property" class="page-section">
	<div class="container">
		<!-- Section Title -->
		<div class="section-header">
			<h2 class="section-title">Holiday Homes</h2>
		</div>
		<!-- Section Content -->
		<div class="row">
			<div class="col-md-4 col-sm-6" *ngFor="let property of propertyOnRentList" [ngClass]="{'col-md-12' : propertyOnRentList.length == 1, 'col-md-6' : propertyOnRentList.length == 2}">
				<!-- Property Item Tall -->
				<div class="property-item">
					<div class="property-header">
						<a [routerLink]="['/property-detail', property._id]" class="item-category">{{property.name}}</a>
						<a [routerLink]="['/property-detail', property._id]" class="item-title">{{property.property_type}} in {{property.property_location}} </a>
						<div class="item-price">$ {{ property.rent_price }} Rent</div>
					</div>
					<figure class="item-img" data-id="{{baseUri + property.property_images[0]}}"  [style.backgroundImage]="'url(' + baseUri + property.property_images[0] + ')'">
						<a [routerLink]="['/property-detail', property._id]"></a>
					</figure>
				</div>
			</div>
			
		</div>
	</div>
</section>